<header id="js-header" class="u-header u-header--static u-shadow-v19">
    <!-- Top Bar -->
    <div class="u-header__section g-brd-bottom g-brd-gray-light-v4 g-bg-black g-transition-0_3">
      <div class="container">
        <div class="row justify-content-between align-items-center g-mx-0--lg">
          <div class="col-sm-auto g-hidden-sm-down">
            <!-- Social Icons -->
            <ul class="list-inline g-py-14 mb-0">
              <li class="list-inline-item">
                <a class="g-color-white-opacity-0_8 g-color-primary--hover g-pa-3" href="#">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="g-color-white-opacity-0_8 g-color-primary--hover g-pa-3" href="#">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="g-color-white-opacity-0_8 g-color-primary--hover g-pa-3" href="#">
                  <i class="fa fa-tumblr"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="g-color-white-opacity-0_8 g-color-primary--hover g-pa-3" href="#">
                  <i class="fa fa-pinterest-p"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="g-color-white-opacity-0_8 g-color-primary--hover g-pa-3" href="#">
                  <i class="fa fa-google"></i>
                </a>
              </li>
            </ul>
            <!-- End Social Icons -->
          </div>

          <div
            class="col-sm-auto g-hidden-sm-down g-color-white-opacity-0_6 g-font-weight-400 g-pl-15 g-pl-0--sm g-py-14">
            <i
              class="icon-communication-163 u-line-icon-pro g-font-size-18 g-valign-middle g-color-white-opacity-0_8 g-mr-10 g-mt-minus-2"></i>
            8 800 1234 4321
          </div>

          <div class="col-sm-auto g-pos-rel g-py-14">
            <!-- List -->
            <ul class="list-inline g-pt-1 mb-0">
              <!-- Currency -->
              <li class="list-inline-item g-pos-rel">
                <a id="currency-dropdown-invoker-2"
                  class="g-color-white-opacity-0_6 g-color-primary--hover g-font-weight-400 g-text-underline--none--hover"
                  href="#" aria-controls="currency-dropdown-2" aria-haspopup="true" aria-expanded="false"
                  data-dropdown-event="hover" data-dropdown-target="#currency-dropdown-2"
                  data-dropdown-type="css-animation" data-dropdown-duration="300" data-dropdown-hide-on-scroll="false"
                  data-dropdown-animation-in="fadeIn" data-dropdown-animation-out="fadeOut">
                  <i class="g-ml-20--md mr-2 fa fa-euro"></i>
                  VND
                </a>
                <ul id="currency-dropdown-2"
                  class="list-unstyled u-shadow-v29 g-pos-abs g-left-0 g-bg-white g-width-160 g-pb-5 g-mt-19 g-z-index-4"
                  aria-labelledby="currency-dropdown-invoker-2">
                  <li>
                    <a class="d-block g-color-black g-color-primary--hover g-text-underline--none--hover g-font-weight-400 g-py-5 g-px-20"
                      href="#">
                      <i class="mr-2 fa fa-euro"></i>
                      Euro
                    </a>
                  </li>
                  <li>
                    <a class="d-block g-color-black g-color-primary--hover g-text-underline--none--hover g-font-weight-400 g-py-5 g-px-20"
                      href="#">
                      <i class="mr-2 fa fa-dollar"></i>
                      US Dollars
                    </a>
                  </li>
                  <li>
                    <a class="d-block g-color-black g-color-primary--hover g-text-underline--none--hover g-font-weight-400 g-py-5 g-px-20"
                      href="#">
                      <i class="mr-2 fa fa-gbp"></i>
                      GBP
                    </a>
                  </li>
                  <li>
                    <a class="d-block g-color-black g-color-primary--hover g-text-underline--none--hover g-font-weight-400 g-py-5 g-px-20"
                      href="#">
                      <i class="mr-2 fa fa-yen"></i>
                      Yen
                    </a>
                  </li>
                </ul>
              </li>
              <!-- End Currency -->

              <li class="list-inline-item g-color-white-opacity-0_3 g-mx-4">|</li>

              <!-- Language -->
              <li class="list-inline-item g-pos-rel">
                <a id="languages-dropdown-invoker-2"
                  class="g-color-white-opacity-0_6 g-color-primary--hover g-font-weight-400 g-text-underline--none--hover"
                  href="#" aria-controls="languages-dropdown-2" aria-haspopup="true" aria-expanded="false"
                  data-dropdown-event="hover" data-dropdown-target="#languages-dropdown-2"
                  data-dropdown-type="css-animation" data-dropdown-duration="300" data-dropdown-hide-on-scroll="false"
                  data-dropdown-animation-in="fadeIn" data-dropdown-animation-out="fadeOut">
                  <svg xmlns="http://www.w3.org/2000/svg" height="11" width="27" viewBox="0 0 640 480">
                    <defs>
                      <clipPath id="a">
                        <path fill-opacity=".67" d="M-85.333 0h682.67v512h-682.67z" />
                      </clipPath>
                    </defs>
                    <g clip-path="url(#a)" transform="translate(80) scale(.94)">
                      <g stroke-width="1pt">
                        <path fill="#006" d="M-256 0H768.02v512.01H-256z" />
                        <path
                          d="M-256 0v57.244l909.535 454.768H768.02V454.77L-141.515 0H-256zM768.02 0v57.243L-141.515 512.01H-256v-57.243L653.535 0H768.02z"
                          fill="#fff" />
                        <path d="M170.675 0v512.01h170.67V0h-170.67zM-256 170.67v170.67H768.02V170.67H-256z"
                          fill="#fff" />
                        <path
                          d="M-256 204.804v102.402H768.02V204.804H-256zM204.81 0v512.01h102.4V0h-102.4zM-256 512.01L85.34 341.34h76.324l-341.34 170.67H-256zM-256 0L85.34 170.67H9.016L-256 38.164V0zm606.356 170.67L691.696 0h76.324L426.68 170.67h-76.324zM768.02 512.01L426.68 341.34h76.324L768.02 473.848v38.162z"
                          fill="#c00" />
                      </g>
                    </g>
                  </svg>
                  Việt Nam
                </a>
                <ul id="languages-dropdown-2"
                  class="list-unstyled u-shadow-v29 g-pos-abs g-left-0 g-bg-white g-width-160 g-pb-5 g-mt-19 g-z-index-2"
                  aria-labelledby="languages-dropdown-invoker-2">
                  <li>
                    <a class="d-block g-color-black g-color-primary--hover g-text-underline--none--hover g-font-weight-400 g-py-5 g-px-20"
                      href="#">
                      <svg class="mr-1 g-ml-minus-10" xmlns="http://www.w3.org/2000/svg" height="11" width="27"
                        viewBox="0 0 640 480">
                        <defs>
                          <clipPath id="a">
                            <path fill-opacity=".67" d="M-85.333 0h682.67v512h-682.67z" />
                          </clipPath>
                        </defs>
                        <g clip-path="url(#a)" transform="translate(80) scale(.94)">
                          <g stroke-width="1pt">
                            <path fill="#006" d="M-256 0H768.02v512.01H-256z" />
                            <path
                              d="M-256 0v57.244l909.535 454.768H768.02V454.77L-141.515 0H-256zM768.02 0v57.243L-141.515 512.01H-256v-57.243L653.535 0H768.02z"
                              fill="#fff" />
                            <path d="M170.675 0v512.01h170.67V0h-170.67zM-256 170.67v170.67H768.02V170.67H-256z"
                              fill="#fff" />
                            <path
                              d="M-256 204.804v102.402H768.02V204.804H-256zM204.81 0v512.01h102.4V0h-102.4zM-256 512.01L85.34 341.34h76.324l-341.34 170.67H-256zM-256 0L85.34 170.67H9.016L-256 38.164V0zm606.356 170.67L691.696 0h76.324L426.68 170.67h-76.324zM768.02 512.01L426.68 341.34h76.324L768.02 473.848v38.162z"
                              fill="#c00" />
                          </g>
                        </g>
                      </svg>
                      English
                    </a>
                  </li>
                  <li>
                    <a class="d-block g-color-black g-color-primary--hover g-text-underline--none--hover g-font-weight-400 g-py-5 g-px-20"
                      href="#">
                      <svg class="mr-1 g-ml-minus-10" xmlns="http://www.w3.org/2000/svg" height="11" width="27"
                        viewBox="0 0 640 480">
                        <g stroke-width="1pt" fill-rule="evenodd">
                          <path fill="#fff" d="M0 0h640v480H0z" />
                          <path fill="#00267f" d="M0 0h213.33v480H0z" />
                          <path fill="#f31830" d="M426.67 0H640v480H426.67z" />
                        </g>
                      </svg>
                      Spanish
                    </a>
                  </li>
                  <li>
                    <a class="d-block g-color-black g-color-primary--hover g-text-underline--none--hover g-font-weight-400 g-py-5 g-px-20"
                      href="#">
                      <svg class="mr-1 g-ml-minus-10" xmlns="http://www.w3.org/2000/svg" height="11" width="27"
                        viewBox="0 0 640 480">
                        <g fill-rule="evenodd" stroke-width="1pt">
                          <path fill="#fff" d="M0 0h640v480H0z" />
                          <path fill="#0039a6" d="M0 160.003h640V480H0z" />
                          <path fill="#d52b1e" d="M0 319.997h640V480H0z" />
                        </g>
                      </svg>
                      Russian
                    </a>
                  </li>
                  <li>
                    <a class="d-block g-color-black g-color-primary--hover g-text-underline--none--hover g-font-weight-400 g-py-5 g-px-20"
                      href="#">
                      <svg class="mr-1 g-ml-minus-10" xmlns="http://www.w3.org/2000/svg" height="11" width="27"
                        viewBox="0 0 640 480">
                        <path fill="#ffce00" d="M0 320h640v160.002H0z" />
                        <path d="M0 0h640v160H0z" />
                        <path fill="#d00" d="M0 160h640v160H0z" />
                      </svg>
                      German
                    </a>
                  </li>
                </ul>
              </li>
              <!-- End Language -->
            </ul>
            <!-- End List -->
          </div>

          <div class="col-sm-auto g-pos-rel g-py-14">
            <!-- List -->
            <ul class="list-inline g-overflow-hidden g-pt-1 g-mx-minus-4 mb-0">
              <li class="list-inline-item g-mx-4">
                <a class="g-color-white-opacity-0_6 g-color-primary--hover g-font-weight-400 g-text-underline--none--hover"
                  href="page-our-stores-1.html">Cửa Hàng</a>
              </li>

              <li class="list-inline-item g-color-white-opacity-0_3 g-mx-4">|</li>
              <li class="list-inline-item g-mx-4">
                <a class="g-color-white-opacity-0_6 g-color-primary--hover g-font-weight-400 g-text-underline--none--hover"
                  href="page-help-1.html">Trợ Giúp</a>
              </li>

              <li class="list-inline-item g-color-white-opacity-0_3 g-mx-4">|</li>
              <!-- Account -->
              <li class="list-inline-item">
                <a id="account-dropdown-invoker-2"
                  class="g-color-white-opacity-0_6 g-color-primary--hover g-font-weight-400 g-text-underline--none--hover"
                  href="#" aria-controls="account-dropdown-2" aria-haspopup="true" aria-expanded="false"
                  data-dropdown-event="hover" data-dropdown-target="#account-dropdown-2"
                  data-dropdown-type="css-animation" data-dropdown-duration="300" data-dropdown-hide-on-scroll="false"
                  data-dropdown-animation-in="fadeIn" data-dropdown-animation-out="fadeOut">
                  Tài Khoản
                </a>
                <ul id="account-dropdown-2"
                  class="list-unstyled u-shadow-v29 g-pos-abs g-bg-white g-width-160 g-pb-5 g-mt-19 g-z-index-2"
                  aria-labelledby="account-dropdown-invoker-2">
                  <li>
                    <a class="d-block g-color-black g-color-primary--hover g-text-underline--none--hover g-font-weight-400 g-py-5 g-px-20"
                      href="http://localhost:3000/login">
                      Đăng Nhập
                    </a>
                  </li>
                  <li>
                    <a class="d-block g-color-black g-color-primary--hover g-text-underline--none--hover g-font-weight-400 g-py-5 g-px-20"
                      href="page-signup-1.html">
                      Đăng Ký
                    </a>
                  </li>
                  <li>
                    <a class="d-block g-color-black g-color-primary--hover g-text-underline--none--hover g-font-weight-400 g-py-5 g-px-20"
                      href="page-wishlist-1.html">
                      Mong Muốn
                    </a>
                  </li>
                  <li>
                    <a class="d-block g-color-black g-color-primary--hover g-text-underline--none--hover g-font-weight-400 g-py-5 g-px-20"
                      href="page-orders-1.html">
                      Đơn Của Bạn
                    </a>
                  </li>
                </ul>
              </li>
              <!-- End Account -->
            </ul>
            <!-- End List -->
          </div>

          <div class="col-sm-auto g-pr-15 g-pr-0--sm">
            <!-- Basket -->
            <div class="u-basket d-inline-block g-z-index-3">
              <div class="g-py-10 g-px-6">
                <a href="#" id="basket-bar-invoker"
                  class="u-icon-v1 g-color-white-opacity-0_8 g-color-primary--hover g-font-size-17 g-text-underline--none--hover"
                  aria-controls="basket-bar" aria-haspopup="true" aria-expanded="false" data-dropdown-event="hover"
                  data-dropdown-target="#basket-bar" data-dropdown-type="css-animation" data-dropdown-duration="300"
                  data-dropdown-hide-on-scroll="false" data-dropdown-animation-in="fadeIn"
                  data-dropdown-animation-out="fadeOut">
                  <span
                    class="u-badge-v1--sm g-color-white g-bg-primary g-font-size-11 g-line-height-1_4 g-rounded-50x g-pa-4"
                    style="top: 7px !important; right: 3px !important;">4</span>
                  <i class="icon-hotel-restaurant-105 u-line-icon-pro"></i>
                </a>
              </div>

              <div id="basket-bar"
                class="u-basket__bar u-dropdown--css-animation u-dropdown--hidden g-text-transform-none g-bg-white g-brd-around g-brd-gray-light-v4"
                aria-labelledby="basket-bar-invoker">
                <div class="g-brd-bottom g-brd-gray-light-v4 g-pa-15 g-mb-10">
                  <span class="d-block h6 text-center text-uppercase mb-0">Giỏ Hàng</span>
                </div>
                <div class="js-scrollbar g-height-200">
                  <!-- Product -->
                  <div class="u-basket__product g-brd-none g-px-20">
                    <div class="row no-gutters g-pb-5">
                      <div class="col-4 pr-3">
                        <a class="u-basket__product-img" href="#">
                          <img class="img-fluid" src="/public/images/img-temp/150x150/img1.jpg" alt="Image Description">
                        </a>
                      </div>

                      <div class="col-8">
                        <h6 class="g-font-weight-400 g-font-size-default">
                          <a class="g-color-black g-color-primary--hover g-text-underline--none--hover" href="#">Black
                            Glasses</a>
                        </h6>
                        <small class="g-color-primary g-font-size-12">1 x $22.00</small>
                      </div>
                    </div>
                    <button type="button" class="u-basket__product-remove">&times;</button>
                  </div>
                  <!-- End Product -->

                  <!-- Product -->
                  <div class="u-basket__product g-brd-none g-px-20">
                    <div class="row no-gutters g-pb-5">
                      <div class="col-4 pr-3">
                        <a class="u-basket__product-img" href="#">
                          <img class="img-fluid" src="/public/images/img-temp/150x150/img2.jpg" alt="Image Description">
                        </a>
                      </div>

                      <div class="col-8">
                        <h6 class="g-font-weight-400 g-font-size-default">
                          <a class="g-color-black g-color-primary--hover g-text-underline--none--hover"
                            href="#">Gloves</a>
                        </h6>
                        <small class="g-color-primary g-font-size-12">2 x $55.00</small>
                      </div>
                    </div>
                    <button type="button" class="u-basket__product-remove">&times;</button>
                  </div>
                  <!-- End Product -->

                  <!-- Product -->
                  <div class="u-basket__product g-brd-none g-px-20">
                    <div class="row no-gutters g-pb-5">
                      <div class="col-4 pr-3">
                        <a class="u-basket__product-img" href="#">
                          <img class="img-fluid" src="/public/images/img-temp/150x150/img3.jpg" alt="Image Description">
                        </a>
                      </div>

                      <div class="col-8">
                        <h6 class="g-font-weight-400 g-font-size-default">
                          <a class="g-color-black g-color-primary--hover g-text-underline--none--hover"
                            href="#">Chukka Shoes</a>
                        </h6>
                        <small class="g-color-primary g-font-size-12">1 x $199.00</small>
                      </div>
                    </div>
                    <button type="button" class="u-basket__product-remove">&times;</button>
                  </div>
                  <!-- End Product -->

                  <!-- Product -->
                  <div class="u-basket__product g-brd-none g-px-20">
                    <div class="row no-gutters g-pb-5">
                      <div class="col-4 pr-3">
                        <a class="u-basket__product-img" href="#">
                          <img class="img-fluid" src="/public/images/img-temp/150x150/img4.jpg" alt="Image Description">
                        </a>
                      </div>

                      <div class="col-8">
                        <h6 class="g-font-weight-400 g-font-size-default">
                          <a class="g-color-black g-color-primary--hover g-text-underline--none--hover" href="#">Desk
                            Clock</a>
                        </h6>
                        <small class="g-color-primary g-font-size-12">1 x $12.00</small>
                      </div>
                    </div>
                    <button type="button" class="u-basket__product-remove">&times;</button>
                  </div>
                  <!-- End Product -->
                </div>

                <div class="clearfix g-px-15">
                  <div class="row align-items-center text-center g-brd-y g-brd-gray-light-v4 g-font-size-default">
                    <div class="col g-brd-right g-brd-gray-light-v4">
                      <strong
                        class="d-block g-py-10 text-uppercase g-color-main g-font-weight-500 g-py-10">Total</strong>
                    </div>
                    <div class="col">
                      <strong class="d-block g-py-10 g-color-main g-font-weight-500 g-py-10">$433.00</strong>
                    </div>
                  </div>
                </div>

                <div class="g-pa-20">
                  <div class="text-center g-mb-15">
                    <a class="text-uppercase g-color-primary g-color-main--hover g-font-weight-400 g-font-size-13 g-text-underline--none--hover"
                      href="page-checkout-1.html">
                      View Cart
                      <i class="ml-2 icon-finance-100 u-line-icon-pro"></i>
                    </a>
                  </div>
                  <a class="btn btn-block u-btn-black g-brd-primary--hover g-bg-primary--hover g-font-size-12 text-uppercase rounded g-py-10"
                    href="page-checkout-1.html">Proceed to Checkout</a>
                </div>
              </div>
            </div>
            <!-- End Basket -->

            <!-- Search -->
            <div class="d-inline-block g-valign-middle">
              <div class="g-py-10 g-pl-15">
                <a href="#"
                  class="g-color-white-opacity-0_8 g-color-primary--hover g-font-size-17 g-text-underline--none--hover"
                  aria-haspopup="true" aria-expanded="false" data-dropdown-event="click" aria-controls="searchform-1"
                  data-dropdown-target="#searchform-1" data-dropdown-type="css-animation" data-dropdown-duration="300"
                  data-dropdown-animation-in="fadeInUp" data-dropdown-animation-out="fadeOutDown">
                  <i class="g-pos-rel g-top-3 icon-education-045 u-line-icon-pro"></i>
                </a>
              </div>

              <!-- Search Form -->
              <form id="searchform-1"
                class="u-searchform-v1 u-dropdown--css-animation u-dropdown--hidden u-shadow-v20 g-brd-around g-brd-gray-light-v4 g-bg-white g-right-0 rounded g-pa-10 1g-mt-8">
                <div class="input-group">
                  <input class="form-control g-font-size-13" type="search" placeholder="Search Here...">
                  <div class="input-group-append p-0">
                    <button class="btn u-btn-primary g-font-size-12 text-uppercase g-py-13 g-px-15"
                      type="submit">Go</button>
                  </div>
                </div>
              </form>
              <!-- End Search Form -->
            </div>
            <!-- End Search -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Top Bar -->

    <div class="u-header__section u-header__section--light g-bg-white g-transition-0_3 g-py-10">
      <nav class="js-mega-menu navbar navbar-expand-lg">
        <div class="container">
          <!-- Responsive Toggle Button -->
          <button
            class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0"
            type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar"
            data-toggle="collapse" data-target="#navBar">
            <span class="hamburger hamburger--slider g-pr-0">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </span>
          </button>
          <!-- End Responsive Toggle Button -->

          <!-- Logo -->
          <a class="navbar-brand" href="http://localhost:3000/">
            <img src="/public/images/img/logo/logo-3.png" width="216" height="120" alt="Image Description">
          </a>
          <!-- End Logo -->

          <!-- Navigation -->
          <div id="navBar" class="collapse navbar-collapse align-items-center flex-sm-row g-pt-15 g-pt-0--lg">
            <ul class="navbar-nav ml-auto">
              <!-- Home - Submenu -->
              <li class="nav-item g-mx-10--lg g-mx-15--xl font-weight-bold g-font-size-14">
                <a id="nav-link--home" class="nav-link text-uppercase g-color-primary--hover g-px-5 g-py-20 " href="/"
                  aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu--home">
                  Trang Chủ
                </a>
                <!-- Submenu -->
                <!-- End Submenu -->
              </li>
              <!-- End Home - Submenu -->

              <!-- Categories - Mega Menu -->
              <li class="hs-has-mega-menu nav-item g-mx-10--lg g-mx-15--xl font-weight-bold g-font-size-14"
                data-animation-in="fadeIn" data-animation-out="fadeOut" data-position="right">
                <a id="mega-menu-label-3" class="nav-link text-uppercase g-color-primary--hover g-px-5 g-py-20"
                  href="/products" aria-haspopup="true" aria-expanded="false">
                  Sản Phẩm
                  <i class="hs-icon hs-icon-arrow-bottom g-font-size-11 g-ml-7"></i>
                </a>

                <!-- Mega Menu -->
                <div
                  class="hs-mega-menu u-shadow-v11 g-text-transform-none g-brd-top g-brd-primary g-brd-top-2 g-bg-white g-pa-30 g-mt-17"
                  aria-labelledby="mega-menu-label-3">
                  <div class="row">
                    <div class="col-sm-4 col-lg-3 g-mb-30 g-mb-0--md">
                      <!-- Links -->
                      <div class="mb-5">
                        <span class="d-block g-font-weight-500 text-uppercase mb-2">Rau, Củ, Quả</span>

                        <ul class="list-unstyled">
                          <li>
                            <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                              href="#">Cà Chua</a>
                          </li>
                          <li>
                            <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                              href="#">Su Hào </a>
                          </li>
                          <li>
                            <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                              href="#">Bắp Cải</a>
                          </li>
                          <li>
                            <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                              href="#">Cải Thảo</a>
                          </li>
                        </ul>
                      </div>

                      <!-- End Links -->

                      <!-- Links -->
                      <span class="d-block g-font-weight-500 text-uppercase mb-2">Trái Cây</span>

                      <ul class="list-unstyled">
                        <li>
                          <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                            href="/products/dua-hau">Dưa hấu</a>
                        </li>
                        <li>
                          <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                            href="#">Cam</a>
                        </li>
                        <li>
                          <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                            href="#">Táo</a>
                        </li>
                        <li>
                          <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                            href="#">Bưởi</a>
                        </li>
                      </ul>
                      <!-- End Links -->
                    </div>



                    <div class="col-sm-4 col-lg-3 g-mb-30 g-mb-0--md">
                      <!-- Links -->
                      <div class="mb-5">
                        <span class="d-block g-font-weight-500 text-uppercase mb-2">Cây Cảnh</span>

                        <ul class="list-unstyled">
                          <li>
                            <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                              href="#">Cây Cảnh Phong Thủy</a>
                          </li>
                          <li>
                            <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                              href="#">Cây Cảnh Trong Nhà</a>
                          </li>

                        </ul>
                      </div>
                      <!-- End Links -->

                      <!-- Links -->
                      <span class="d-block g-font-weight-500 text-uppercase mb-2">Hoa</span>

                      <ul class="list-unstyled">
                        <li>
                          <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                            href="#">Hoa Tuy Líp</a>
                        </li>
                        <li>
                          <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                            href="#">Hoa Lan</a>
                        </li>
                        <li>
                          <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                            href="#">Hoa Hồng</a>
                        </li>
                        <li>
                          <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                            href="#">Hoa Cúc</a>
                        </li>


                      </ul>
                      <!-- End Links -->
                    </div>

                    <div class="col-md-4 col-lg-6 g-mb-30 g-mb-0--md">
                      <article class="g-pos-rel">
                        <img class="img-fluid" src="/public/images/img-temp/700x700/product.jpg" alt="Image Description">

                        <div class="g-pos-abs g-bottom-10 ">

                          <span class="d-block g-color-gray-dark-v3 g-font-size-16 mb-3">$156.00</span>
                          <a class="btn u-btn-primary u-shadow-v29 g-font-size-12 text-uppercase g-py-10 g-px-15 g-mb-0"
                            href="#">Đưa Vào Giỏ Hàng</a>
                        </div>
                      </article>

                    </div>
                  </div>
                </div>
                <!-- End Mega Menu -->
              </li>
              <!-- End Categories - Mega Menu -->

              <!-- Watch - Mega Menu -->
              <li class="hs-has-mega-menu nav-item g-mx-10--lg g-mx-15--xl font-weight-bold g-font-size-14"
                data-animation-in="fadeIn" data-animation-out="fadeOut" data-position="right">
                <a id="mega-menu-label-2" class="nav-link text-uppercase g-color-primary--hover g-px-5 g-py-20"
                  href="#" aria-haspopup="true" aria-expanded="false">
                  Cách Chăm Sóc
                  <i class="hs-icon hs-icon-arrow-bottom g-font-size-11 g-ml-7"></i>
                </a>

                <!-- Mega Menu -->
                <div
                  class="w-100 hs-mega-menu u-shadow-v11 g-text-transform-none g-brd-top g-brd-primary g-brd-top-2 g-bg-white g-mt-17"
                  aria-labelledby="mega-menu-label-2">
                  <div class="row no-gutters">
                    <div class="col-md-4 g-mb-30 g-mb-0--md">
                      <div class="g-pa-30">
                        <!-- Links -->
                        <span class="d-block g-font-weight-500 text-uppercase mb-2">Watches</span>

                        <ul class="list-unstyled">
                          <li>
                            <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                              href="#">Ladies' Parker Chronograph</a>
                          </li>
                          <li>
                            <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                              href="#">Emporio Armani</a>
                          </li>
                          <li>
                            <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                              href="#">Fossil Men's Grant Chronograph</a>
                          </li>
                          <li>
                            <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                              href="#">Olivia Burton</a>
                          </li>
                          <li>
                            <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                              href="#">Ladies' Big White Dial</a>
                          </li>
                          <li>
                            <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                              href="#">Men's Grant Automatic</a>
                          </li>
                          <li>
                            <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                              href="#">Ladies' The Roxy</a>
                          </li>
                          <li>
                            <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                              href="#">Sport Watch</a>
                          </li>
                          <li>
                            <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                              href="#">Burberry Ladies' The City</a>
                          </li>
                          <li>
                            <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                              href="#">Tissot</a>
                          </li>
                        </ul>
                        <!-- End Links -->
                      </div>
                    </div>

                    <div class="col-md-8 g-min-height-400 g-bg-size-cover g-bg-pos-center"
                      data-bg-img-src="/public/images/img-temp/700x467/background.jpg">
                      <span class="d-block h1 g-color-white ml-4">Chia Sẻ Từ Người Nông Dân</span>
                      <article class="g-pa-30">


                        <!-- <span class="d-block g-color-primary g-font-weight-700 g-font-size-25">$273.00</span> -->
                        <a class="u-link-v2" href="#"></a>
                      </article>
                    </div>
                  </div>
                </div>
                <!-- End Mega Menu -->
              </li>
              <!-- End Watch - Mega Menu -->

              <!-- New Arrivals - Mega Menu -->
              <li class="hs-has-mega-menu nav-item g-ml-10--lg g-ml-15--xl font-weight-bold g-font-size-14"
                data-animation-in="fadeIn" data-animation-out="fadeOut" data-position="right">
                <a id="mega-menu-label-5" class="nav-link text-uppercase g-color-primary--hover g-px-5 g-py-20"
                  href="#" aria-haspopup="true" aria-expanded="false">
                  Sản Phẩm Mới
                  <i class="hs-icon hs-icon-arrow-bottom g-font-size-11 g-ml-7"></i>
                </a>

                <!-- Mega Menu -->
                <div
                  class="w-100 hs-mega-menu u-shadow-v11 g-text-transform-none g-brd-top g-brd-primary g-brd-top-2 g-bg-white g-pa-30 g-mt-17"
                  aria-labelledby="mega-menu-label-5">
                  <div class="row">
                    <div class="col-md-4 g-mb-30 g-mb-0--md">
                      <!-- Article -->
                      <article
                        class="g-bg-size-cover g-bg-pos-center g-bg-cover g-bg-bluegray-opacity-0_3--after text-center g-px-40 g-py-80"
                        data-bg-img-src="/public/images/img-temp/600x400/product-1.jpg">
                        <div class="g-pos-rel g-z-index-1">
                          <span class="d-block g-color-white g-font-weight-400 text-uppercase mb-3">Blouse</span>
                          <span class="d-block h2 g-color-white mb-4">Lafayette</span>
                          <a class="btn u-btn-white g-brd-primary--hover g-color-white--hover g-bg-primary--hover g-font-size-11 text-uppercase g-py-10 g-px-20"
                            href="#">Shop Now</a>
                        </div>
                      </article>
                      <!-- End Article -->
                    </div>

                    <div class="col-md-4 g-mb-30 g-mb-0--md">
                      <!-- Article -->
                      <article
                        class="g-bg-size-cover g-bg-pos-center g-bg-cover g-bg-bluegray-opacity-0_3--after text-center g-px-40 g-py-80"
                        data-bg-img-src="/public/images/img-temp/600x400/product-2.jpg">
                        <div class="g-pos-rel g-z-index-1">
                          <span class="d-block g-color-white g-font-weight-400 text-uppercase mb-3">Hamburg
                            Hats</span>
                          <span class="d-block h2 g-color-white mb-4">Beaver</span>
                          <a class="btn u-btn-white g-brd-primary--hover g-color-white--hover g-bg-primary--hover g-font-size-11 text-uppercase g-py-10 g-px-20"
                            href="#">Shop Now</a>
                        </div>
                      </article>
                      <!-- End Article -->
                    </div>

                    <div class="col-md-4 g-mb-30 g-mb-0--md">
                      <!-- Article -->
                      <article
                        class="g-bg-size-cover g-bg-pos-center g-bg-cover g-bg-bluegray-opacity-0_3--after text-center g-px-40 g-py-80"
                        data-bg-img-src="/public/images/img-temp/600x400/product-3.jpg">
                        <div class="g-pos-rel g-z-index-1">
                          <span class="d-block g-color-white g-font-weight-400 text-uppercase mb-3">Glasses</span>
                          <span class="d-block h2 g-color-white mb-4">RayBan</span>
                          <a class="btn u-btn-white g-brd-primary--hover g-color-white--hover g-bg-primary--hover g-font-size-11 text-uppercase g-py-10 g-px-20"
                            href="#">Shop Now</a>
                        </div>
                      </article>
                      <!-- End Article -->
                    </div>
                  </div>
                </div>
                <!-- End Mega Menu -->
              </li>
              <!-- End New Arrivals - Mega Menu -->
              <!-- Mega Menu Item -->
              <li class="hs-has-mega-menu nav-item g-mx-10--lg g-mx-15--xl font-weight-bold g-font-size-14"
                data-animation-in="fadeIn" data-animation-out="fadeOut" data-position="right">
                <a id="mega-menu-label-4" class="nav-link text-uppercase g-color-primary--hover g-px-5 g-py-20"
                  href="#" aria-haspopup="true" aria-expanded="false">
                  Tin Tức
                  <i class="hs-icon hs-icon-arrow-bottom g-font-size-11 g-ml-7"></i>
                </a>

                <!-- Mega Menu -->
                <div
                  class="w-100 hs-mega-menu u-shadow-v11 g-text-transform-none g-brd-top g-brd-primary g-brd-top-2 g-bg-white g-pa-30 g-mt-17"
                  aria-labelledby="mega-menu-label-4">
                  <div class="row">
                    <div class="col-sm-6 col-md-3 g-mb-30 g-mb-0--sm">
                      <!-- Links -->
                      <div class="mb-5">
                        <span class="d-block g-font-weight-500 text-uppercase mb-2">Clothes</span>

                        <ul class="list-unstyled mb-0">
                          <li>
                            <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                              href="#">New in</a>
                          </li>
                          <li>
                            <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                              href="#">Coats &amp; Jackets</a>
                          </li>
                          <li>
                            <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                              href="#">Jeans</a>
                          </li>
                          <li>
                            <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                              href="#">Dresses</a>
                          </li>
                          <li>
                            <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                              href="#">Shorts
                              <span class="u-label g-bg-primary rounded g-ml-10">New</span>
                            </a>
                          </li>
                          <li>
                            <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                              href="#">Skirts</a>
                          </li>
                          <li>
                            <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                              href="#">T-Shirts</a>
                          </li>
                        </ul>
                      </div>
                      <!-- End Links -->

                      <!-- Links -->
                      <span class="d-block g-font-weight-500 text-uppercase mb-2">Shoes</span>

                      <ul class="list-unstyled">
                        <li>
                          <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                            href="#">Boots</a>
                        </li>
                        <li>
                          <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                            href="#">FLats</a>
                        </li>
                        <li>
                          <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                            href="#">Heels</a>
                        </li>
                        <li>
                          <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                            href="#">Sandals</a>
                        </li>
                      </ul>
                      <!-- End Links -->
                    </div>

                    <div class="col-sm-6 col-md-3 g-mb-30 g-mb-0--sm">
                      <!-- Links -->
                      <div class="mb-5">
                        <span class="d-block g-font-weight-500 text-uppercase mb-2">Accessories</span>

                        <ul class="list-unstyled mb-0">
                          <li>
                            <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                              href="#">All accessories</a>
                          </li>
                          <li>
                            <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                              href="#">Bags &amp; Purses</a>
                          </li>
                          <li>
                            <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                              href="#">Scarvs &amp; Hats</a>
                          </li>
                          <li>
                            <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                              href="#">Jewellery</a>
                          </li>
                          <li>
                            <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                              href="#">Fragrance &amp; Beauty</a>
                          </li>
                        </ul>
                      </div>
                      <!-- End Links -->

                      <!-- Links -->
                      <div class="mb-5">
                        <span class="d-block g-font-weight-500 text-uppercase mb-2">Lingerie</span>

                        <ul class="list-unstyled mb-0">
                          <li>
                            <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                              href="#">Linger
                              <span class="u-label g-bg-primary rounded g-ml-10">New</span>
                            </a>
                          </li>
                          <li>
                            <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                              href="#">Slippers</a>
                          </li>
                        </ul>
                      </div>
                      <!-- End Links -->

                      <!-- Links -->
                      <span class="d-block g-font-weight-500 text-uppercase mb-2">Nightwear</span>

                      <ul class="list-unstyled mb-0">
                        <li>
                          <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                            href="#">Nightwear</a>
                        </li>
                        <li>
                          <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                            href="#">Socks</a>
                        </li>
                      </ul>
                      <!-- End Links -->
                    </div>

                    <div class="col-sm-6 col-md-3 g-mb-30 g-mb-0--sm">
                      <!-- Links -->
                      <span class="d-block g-font-weight-500 text-uppercase mb-2">Mixed</span>

                      <ul class="list-unstyled mb-0">
                        <li>
                          <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                            href="#">New in</a>
                        </li>
                        <li>
                          <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                            href="#">Coats &amp; Jackets
                            <span class="u-label g-bg-primary rounded g-ml-10">New</span>
                          </a>
                        </li>
                        <li>
                          <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                            href="#">Jeans</a>
                        </li>
                        <li>
                          <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                            href="#">Dresses</a>
                        </li>
                        <li>
                          <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                            href="#">Shorts</a>
                        </li>
                        <li>
                          <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                            href="#">Skirts</a>
                        </li>
                        <li>
                          <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                            href="#">T-shirts</a>
                        </li>
                        <li>
                          <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                            href="#">Boots</a>
                        </li>
                        <li>
                          <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                            href="#">Flats</a>
                        </li>
                        <li>
                          <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                            href="#">Heels</a>
                        </li>
                        <li>
                          <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                            href="#">Sandals</a>
                        </li>
                        <li>
                          <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                            href="#">Sports</a>
                        </li>
                        <li>
                          <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                            href="#">Socks</a>
                        </li>
                        <li>
                          <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                            href="#">Tights</a>
                        </li>
                      </ul>
                      <!-- End Links -->
                    </div>

                    <div class="col-sm-6 col-md-3 g-mb-30 g-mb-0--sm">
                      <!-- Links -->
                      <div class="mb-5">
                        <span class="d-block g-font-weight-500 text-uppercase mb-2">Accessories</span>

                        <ul class="list-unstyled mb-0">
                          <li>
                            <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                              href="#">All accessories</a>
                          </li>
                          <li>
                            <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                              href="#">Bags &amp; Purses</a>
                          </li>
                          <li>
                            <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                              href="#">Scarvs &amp; Hats</a>
                          </li>
                          <li>
                            <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                              href="#">Jewellery</a>
                          </li>
                          <li>
                            <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                              href="#">Fragrance &amp; Beauty</a>
                          </li>
                        </ul>
                      </div>
                      <!-- End Links -->

                      <!-- Links -->
                      <div class="mb-5">
                        <span class="d-block g-font-weight-500 text-uppercase mb-2">Lingerie</span>

                        <ul class="list-unstyled mb-0">
                          <li>
                            <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                              href="#">Linger
                              <span class="u-label g-bg-primary rounded g-ml-10">New</span>
                            </a>
                          </li>
                          <li>
                            <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                              href="#">Slippers</a>
                          </li>
                        </ul>
                      </div>
                      <!-- End Links -->

                      <!-- Links -->
                      <span class="d-block g-font-weight-500 text-uppercase mb-2">Nightwear</span>

                      <ul class="list-unstyled mb-0">
                        <li>
                          <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                            href="#">Nightwear</a>
                        </li>
                        <li>
                          <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                            href="#">Socks</a>
                        </li>
                      </ul>
                      <!-- End Links -->
                    </div>
                  </div>
                </div>
                <!-- End Mega Menu -->
              </li>
              <!-- End Mega Menu Item -->


              <li class="nav-item g-ml-10--lg font-weight-bold g-font-size-14">
                <a class="nav-link text-uppercase g-color-primary--hover g-pl-5 g-pr-0 g-py-20"
                  href="index.html">Liên Hệ</a>
              </li>
            </ul>
          </div>
          <!-- End Navigation -->
        </div>
      </nav>
    </div>
  </header>