<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Title -->
  <title>E-commerce Home Page 1 | Unify - Responsive Website Template</title>

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- Favicon -->
  <link rel="shortcut icon" href="../favicon.ico">

  <!-- Google Fonts -->
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,900">

  <!-- CSS Global Compulsory -->
  <link rel="stylesheet" href="/public/vendor/bootstrap/bootstrap.min.css">

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="/public/vendor/icon-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/public/vendor/icon-line-pro/style.css">
  <link rel="stylesheet" href="/public/vendor/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="/public/vendor/icon-hs/style.css">
  <link rel="stylesheet" href="/public/vendor/hamburgers/hamburgers.min.css">
  <link rel="stylesheet" href="/public/vendor/hs-megamenu/src/hs.megamenu.css">
  <link rel="stylesheet" href="/public/vendor/malihu-scrollbar/jquery.mCustomScrollbar.min.css">
  <link rel="stylesheet" href="/public/vendor/animate.css">

  <!-- Revolution Slider -->
  <link rel="stylesheet" href="/public/vendor/revolution-slider/revolution/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
  <link rel="stylesheet" href="/public/vendor/revolution-slider/revolution/css/settings.css">
  <link rel="stylesheet" href="/public/vendor/revolution-slider/revolution/css/layers.css">
  <link rel="stylesheet" href="/public/vendor/revolution-slider/revolution/css/navigation.css">
  <link rel="stylesheet" href="/public/vendor/revolution-slider/revolution-addons/typewriter/css/typewriter.css">

  <!-- CSS Unify Theme -->
  <link rel="stylesheet" href="/public/stylesheets/css/styles.e-commerce.css">

  <!-- CSS Customization -->
  <link rel="stylesheet" href="/public/stylesheets/css/custom.css">
</head>

<body>
  <main>
    <!-- Header -->
    <%- include('partials/header'); %>
    <!-- End Header -->

    <!-- Revolution Slider -->
    <div class="g-overflow-hidden">
      <div id="rev_slider_1014_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="typewriter-effect"
        data-source="gallery" style="background-color:transparent;padding:0px;">
        <!-- START REVOLUTION SLIDER 5.4.1 fullscreen mode -->
        <div id="rev_slider_1014_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.1">
          <ul>
            <!-- SLIDE  -->
            <li data-index="rs-2800" data-transition="slidingoverlayhorizontal" data-slotamount="default"
              data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default"
              data-masterspeed="default" data-thumb="/public/images/img-temp/1920x1080/background-1.jpg" data-rotate="0"
              data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4=""
              data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10=""
              data-description="">
              <!-- MAIN IMAGE -->
              <img src="/public/images/img-temp/1920x1080/background-1.jpg" alt="" data-bgposition="center center"
                data-bgfit="cover" data-bgparallax="10" class="rev-slidebg">
            </li>
            <!-- END SLIDE  -->

            <!-- SLIDE  -->
            <li data-index="rs-2802" data-transition="slidingoverlayhorizontal" data-slotamount="default"
              data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default"
              data-masterspeed="default" data-thumb="/public/images/img-temp/1920x1080/background.jpg" data-rotate="0"
              data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4=""
              data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10=""
              data-description="">
              <!-- MAIN IMAGE -->
              <img src="/public/images/img-temp/1920x1080/background.jpg" alt="" data-bgposition="center center"
                data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
            </li>
            <!-- END SLIDE  -->

            <!-- SLIDE  -->
            <li data-index="rs-2801" data-transition="slidingoverlayhorizontal" data-slotamount="default"
              data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default"
              data-masterspeed="default" data-thumb="/public/images/img-temp/1920x1080/background.jpg" data-rotate="0"
              data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4=""
              data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10=""
              data-description="">
              <!-- MAIN IMAGE -->
              <img src="/public/images/img-temp/1920x1080/background-2.jpg" alt="" data-bgposition="center center"
                data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
            </li>
            <!-- END SLIDE  -->
          </ul>
          <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
        </div>
      </div>
    </div>
    <!-- End Revolution Slider -->

    <!-- Features -->
    <div class="g-brd-bottom g-brd-gray-light-v4">
      <div class="container g-py-30">
        <div class="row justify-content-center">
          <div class="col-md-4 mx-auto g-py-15">
            <!-- Media -->
            <div class="media g-px-50--lg">
              <i
                class="d-flex g-color-black g-font-size-30 g-pos-rel g-top-3 mr-4 icon-real-estate-048 u-line-icon-pro"></i>
              <div class="media-body">
                <span class="d-block g-font-weight-500 g-font-size-default text-uppercase">Miễn Phí Vận Chuyển</span>
                <span class="d-block g-color-gray-dark-v4">Khoảng 2-3 Ngày</span>
              </div>
            </div>
            <!-- End Media -->
          </div>

          <div class="col-md-4 mx-auto g-brd-x--md g-brd-gray-light-v3 g-py-15">
            <!-- Media -->
            <div class="media g-px-50--lg">
              <i
                class="d-flex g-color-black g-font-size-30 g-pos-rel g-top-3 mr-4 icon-real-estate-040 u-line-icon-pro"></i>
              <div class="media-body">
                <span class="d-block g-font-weight-500 g-font-size-default text-uppercase">Miễn Phí Trả Hàng</span>
                <span class="d-block g-color-gray-dark-v4">Hân Hạnh Được Phục Vụ</span>
              </div>
            </div>
            <!-- End Media -->
          </div>

          <!-- Media -->
          <div class="col-md-4 mx-auto g-py-15">
            <div class="media g-px-50--lg">
              <i
                class="d-flex g-color-black g-font-size-30 g-pos-rel g-top-3 mr-4 icon-hotel-restaurant-062 u-line-icon-pro"></i>
              <div class="media-body text-left">
                <span class="d-block g-font-weight-500 g-font-size-default text-uppercase">Miễn Phí 24</span>
                <span class="d-block g-color-gray-dark-v4">Số Ngày Lưu Giữ</span>
              </div>
            </div>
            <!-- End Media -->
          </div>
        </div>
      </div>
    </div>
    <div class="container g-pb-100">
      <div class="text-center mx-auto g-max-width-600 g-mb-50">
        <h2 class="g-color-black mb-4 mt-5">Sản Phẩm Nổi Bật</h2>
        <p class="lead">Chúng tôi muốn tạo ra nhiều cây trồng đẹp và chất lượng để làm cho ngôi nhà của các bạn trở nên
          gần gũi hơn với thiên nhiên hơn bao giờ hết.

        </p>
      </div>

      <div id="carouselCus1" class="js-carousel g-pb-100 g-mx-minus-10" data-infinite="true" data-slides-show="4"
        data-lazy-load="ondemand"
        data-arrows-classes="u-arrow-v1 g-pos-abs g-bottom-0 g-width-45 g-height-45 g-color-gray-dark-v5 g-bg-secondary g-color-white--hover g-bg-primary--hover rounded"
        data-arrow-left-classes="fa fa-angle-left g-left-10" data-arrow-right-classes="fa fa-angle-right g-right-10"
        data-pagi-classes="u-carousel-indicators-v1 g-absolute-centered--x g-bottom-20 text-center">
        <div class="js-slide">
          <div class="g-px-10">
            <!-- Product -->
          <a href="http://localhost:3000/dua-hau">
            <figure class="g-pos-rel g-mb-20">
              <img class="img-fluid w-100" data-lazy="/public/images/img-temp/480x700/duahau.jpg" alt="Image Description">

              <figcaption
                class="w-100 g-bg-primary g-bg-black--hover text-center g-pos-abs g-bottom-0 g-transition-0_2 g-py-5">
                <a class="g-color-white g-font-size-11 text-uppercase g-letter-spacing-1 g-text-underline--none--hover"
                  href="#">Sản Phẩm Mới</a>
              </figcaption>
            </figure>

            <div class="media">
              <!-- Product Info -->
              <div class="d-flex flex-column">
                <h4 class="h6 g-color-black mb-1">
                  <a class="u-link-v5 g-color-black g-color-primary--hover" href="#">
                    Summer shorts
                  </a>
                </h4>
                <a class="d-inline-block g-color-gray-dark-v5 g-font-size-13" href="#">Man</a>
                <span class="d-block g-color-black g-font-size-17">$52.00</span>
              </div>
              <!-- End Product Info -->
            </a>
              <!-- Products Icons -->
              <ul class="list-inline media-body text-right">
                <li class="list-inline-item align-middle mx-0">
                  <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-color-primary--hover g-font-size-15 rounded-circle"
                    href="#" data-toggle="tooltip" data-placement="top" title="Add to Cart">
                    <i class="icon-finance-100 u-line-icon-pro"></i>
                  </a>
                </li>
                <li class="list-inline-item align-middle mx-0">
                  <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-color-primary--hover g-font-size-15 rounded-circle"
                    href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                    <i class="icon-medical-022 u-line-icon-pro"></i>
                  </a>
                </li>
              </ul>
              <!-- End Products Icons -->
            </div>
            <!-- End Product -->
          </div>
        </div>

        <div class="js-slide">
          <div class="g-px-10">
            <!-- Product -->
            <figure class="g-pos-rel g-mb-20">
              <img class="img-fluid" data-lazy="/public/images/img-temp/480x700/duachuot.jpg" alt="Image Description">

              <span
                class="u-ribbon-v1 g-width-40 g-height-40 g-color-white g-bg-primary g-font-size-13 text-center text-uppercase g-rounded-50x g-top-10 g-right-minus-10 g-px-2 g-py-10">-40%</span>
            </figure>

            <div class="media">
              <!-- Product Info -->
              <div class="d-flex flex-column">
                <h4 class="h6 g-color-black mb-1">
                  <a class="u-link-v5 g-color-black g-color-primary--hover" href="#">
                    Stylish shirt
                  </a>
                </h4>
                <a class="d-inline-block g-color-gray-dark-v5 g-font-size-13" href="#">Woman</a>
                <span class="d-block g-color-black g-font-size-17">$99.00</span>
              </div>
              <!-- End Product Info -->

              <!-- Products Icons -->
              <ul class="list-inline media-body text-right">
                <li class="list-inline-item align-middle mx-0">
                  <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-color-primary--hover g-font-size-15 rounded-circle"
                    href="#" data-toggle="tooltip" data-placement="top" title="Add to Cart">
                    <i class="icon-finance-100 u-line-icon-pro"></i>
                  </a>
                </li>
                <li class="list-inline-item align-middle mx-0">
                  <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-color-primary--hover g-font-size-15 rounded-circle"
                    href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                    <i class="icon-medical-022 u-line-icon-pro"></i>
                  </a>
                </li>
              </ul>
              <!-- End Products Icons -->
            </div>
            <!-- End Product -->
          </div>
        </div>

        <div class="js-slide">
          <div class="g-px-10">
            <!-- Product -->
            <figure class="g-pos-rel g-mb-20">
              <img class="img-fluid" data-lazy="/public/images/img-temp/480x700/otchuong.jpg" alt="Image Description">

              <figcaption class="w-100 g-bg-lightred text-center g-pos-abs g-bottom-0 g-transition-0_2 g-py-5">
                <span class="g-color-white g-font-size-11 text-uppercase g-letter-spacing-1">Sold Out</span>
              </figcaption>
            </figure>

            <div class="media">
              <!-- Product Info -->
              <div class="d-flex flex-column">
                <h4 class="h6 g-color-black mb-1">
                  <a class="u-link-v5 g-color-black g-color-primary--hover" href="#">
                    Classic jacket
                  </a>
                </h4>
                <a class="d-inline-block g-color-gray-dark-v5 g-font-size-13" href="#">Man</a>
                <span class="d-block g-color-black g-font-size-17">$49.99</span>
              </div>
              <!-- End Product Info -->

              <!-- Products Icons -->
              <ul class="list-inline media-body text-right">
                <li class="list-inline-item align-middle mx-0">
                  <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-color-primary--hover g-font-size-15 rounded-circle"
                    href="#" data-toggle="tooltip" data-placement="top" title="Add to Cart">
                    <i class="icon-finance-100 u-line-icon-pro"></i>
                  </a>
                </li>
                <li class="list-inline-item align-middle mx-0">
                  <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-color-primary--hover g-font-size-15 rounded-circle"
                    href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                    <i class="icon-medical-022 u-line-icon-pro"></i>
                  </a>
                </li>
              </ul>
              <!-- End Products Icons -->
            </div>
            <!-- End Product -->
          </div>
        </div>

        <div class="js-slide">
          <div class="g-px-10">
            <!-- Product -->
            <figure class="g-pos-rel g-mb-20">
              <img class="img-fluid" data-lazy="/public/images/img-temp/480x700/carot.jpg" alt="Image Description">
            </figure>

            <div class="media">
              <!-- Product Info -->
              <div class="d-flex flex-column">
                <h4 class="h6 g-color-black mb-1">
                  <a class="u-link-v5 g-color-black g-color-primary--hover" href="#">
                    Wool lined parka
                  </a>
                </h4>
                <a class="d-inline-block g-color-gray-dark-v5 g-font-size-13" href="#">Woman</a>
                <span class="d-block g-color-black g-font-size-17">$82.37</span>
              </div>
              <!-- End Product Info -->

              <!-- Products Icons -->
              <ul class="list-inline media-body text-right">
                <li class="list-inline-item align-middle mx-0">
                  <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-color-primary--hover g-font-size-15 rounded-circle"
                    href="#" data-toggle="tooltip" data-placement="top" title="Add to Cart">
                    <i class="icon-finance-100 u-line-icon-pro"></i>
                  </a>
                </li>
                <li class="list-inline-item align-middle mx-0">
                  <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-color-primary--hover g-font-size-15 rounded-circle"
                    href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                    <i class="icon-medical-022 u-line-icon-pro"></i>
                  </a>
                </li>
              </ul>
              <!-- End Products Icons -->
            </div>
            <!-- End Product -->
          </div>
        </div>

        <div class="js-slide">
          <div class="g-px-10">
            <!-- Product -->
            <figure class="g-pos-rel g-mb-20">
              <img class="img-fluid" data-lazy="/public/images/img-temp/480x700/chuoi.jpg" alt="Image Description">

              <figcaption class="w-100 g-bg-lightred text-center g-pos-abs g-bottom-0 g-transition-0_2 g-py-5">
                <span class="g-color-white g-font-size-11 text-uppercase g-letter-spacing-1">Sold Out</span>
              </figcaption>
            </figure>

            <div class="media">
              <!-- Product Info -->
              <div class="d-flex flex-column">
                <h4 class="h6 g-color-black mb-1">
                  <a class="u-link-v5 g-color-black g-color-primary--hover" href="#">
                    Hooded jeans
                  </a>
                </h4>
                <a class="d-inline-block g-color-gray-dark-v5 g-font-size-13" href="#">Man</a>
                <span class="d-block g-color-black g-font-size-17">$35.99</span>
              </div>
              <!-- End Product Info -->

              <!-- Products Icons -->
              <ul class="list-inline media-body text-right">
                <li class="list-inline-item align-middle mx-0">
                  <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-color-primary--hover g-font-size-15 rounded-circle"
                    href="#" data-toggle="tooltip" data-placement="top" title="Add to Cart">
                    <i class="icon-finance-100 u-line-icon-pro"></i>
                  </a>
                </li>
                <li class="list-inline-item align-middle mx-0">
                  <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-color-primary--hover g-font-size-15 rounded-circle"
                    href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                    <i class="icon-medical-022 u-line-icon-pro"></i>
                  </a>
                </li>
              </ul>
              <!-- End Products Icons -->
            </div>
            <!-- End Product -->
          </div>
        </div>

        <div class="js-slide">
          <div class="g-px-10">
            <!-- Product -->
            <figure class="g-pos-rel g-mb-20">
              <img class="img-fluid" data-lazy="/public/images/img-temp/480x700/suhao.jpg" alt="Image Description">
            </figure>

            <div class="media">
              <!-- Product Info -->
              <div class="d-flex flex-column">
                <h4 class="h6 g-color-black mb-1">
                  <a class="u-link-v5 g-color-black g-color-primary--hover" href="#">
                    Waterproof jacket
                  </a>
                </h4>
                <a class="d-inline-block g-color-gray-dark-v5 g-font-size-13" href="#">Woman</a>
                <span class="d-block g-color-black g-font-size-17">$105.99</span>
              </div>
              <!-- End Product Info -->

              <!-- Products Icons -->
              <ul class="list-inline media-body text-right">
                <li class="list-inline-item align-middle mx-0">
                  <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-color-primary--hover g-font-size-15 rounded-circle"
                    href="#" data-toggle="tooltip" data-placement="top" title="Add to Cart">
                    <i class="icon-finance-100 u-line-icon-pro"></i>
                  </a>
                </li>
                <li class="list-inline-item align-middle mx-0">
                  <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-color-primary--hover g-font-size-15 rounded-circle"
                    href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                    <i class="icon-medical-022 u-line-icon-pro"></i>
                  </a>
                </li>
              </ul>
              <!-- End Products Icons -->
            </div>
            <!-- End Product -->
          </div>
        </div>

        <div class="js-slide">
          <div class="g-px-10">
            <!-- Product -->
            <figure class="g-pos-rel g-mb-20">
              <img class="img-fluid" data-lazy="/public/images/img-temp/480x700/tao.jpg" alt="Image Description">

              <span
                class="u-ribbon-v1 g-width-40 g-height-40 g-color-white g-bg-primary g-font-size-13 text-center text-uppercase g-rounded-50x g-top-10 g-right-minus-10 g-px-2 g-py-10">-40%</span>

              <figcaption
                class="w-100 g-bg-primary g-bg-black--hover text-center g-pos-abs g-bottom-0 g-transition-0_2 g-py-5">
                <a class="g-color-white g-font-size-11 text-uppercase g-letter-spacing-1 g-text-underline--none--hover"
                  href="#">New Arrival</a>
              </figcaption>
            </figure>

            <div class="media">
              <!-- Product Info -->
              <div class="d-flex flex-column">
                <h4 class="h6 g-color-black mb-1">
                  <a class="u-link-v5 g-color-black g-color-primary--hover" href="#">
                    Classic T-shirt
                  </a>
                </h4>
                <a class="d-inline-block g-color-gray-dark-v5 g-font-size-13" href="#">Man</a>
                <span class="d-block g-color-black g-font-size-17">$11.00</span>
              </div>
              <!-- End Product Info -->

              <!-- Products Icons -->
              <ul class="list-inline media-body text-right">
                <li class="list-inline-item align-middle mx-0">
                  <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-color-primary--hover g-font-size-15 rounded-circle"
                    href="#" data-toggle="tooltip" data-placement="top" title="Add to Cart">
                    <i class="icon-finance-100 u-line-icon-pro"></i>
                  </a>
                </li>
                <li class="list-inline-item align-middle mx-0">
                  <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-color-primary--hover g-font-size-15 rounded-circle"
                    href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                    <i class="icon-medical-022 u-line-icon-pro"></i>
                  </a>
                </li>
              </ul>
              <!-- End Products Icons -->
            </div>
            <!-- End Product -->
          </div>
        </div>

        <div class="js-slide">
          <div class="g-px-10">
            <!-- Product -->
            <figure class="g-pos-rel g-mb-20">
              <img class="img-fluid" data-lazy="/public/images/img-temp/480x700/bapcai.jpg" alt="Image Description">
            </figure>

            <div class="media">
              <!-- Product Info -->
              <div class="d-flex flex-column">
                <h4 class="h6 g-color-black mb-1">
                  <a class="u-link-v5 g-color-black g-color-primary--hover" href="#">
                    Blue skirt
                  </a>
                </h4>
                <a class="d-inline-block g-color-gray-dark-v5 g-font-size-13" href="#">Woman</a>
                <span class="d-block g-color-black g-font-size-17">$34.00</span>
              </div>
              <!-- End Product Info -->

              <!-- Products Icons -->
              <ul class="list-inline media-body text-right">
                <li class="list-inline-item align-middle mx-0">
                  <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-color-primary--hover g-font-size-15 rounded-circle"
                    href="#" data-toggle="tooltip" data-placement="top" title="Add to Cart">
                    <i class="icon-finance-100 u-line-icon-pro"></i>
                  </a>
                </li>
                <li class="list-inline-item align-middle mx-0">
                  <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-color-primary--hover g-font-size-15 rounded-circle"
                    href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                    <i class="icon-medical-022 u-line-icon-pro"></i>
                  </a>
                </li>
              </ul>
              <!-- End Products Icons -->
            </div>
            <!-- End Product -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Products -->

    <!-- Promo Block -->
    <section class="g-bg-secondary g-pos-rel">
      <div class="container g-pt-100 g-pb-70">
        <div class="row justify-content-between align-items-center">
          <div class="col-md-8 col-lg-6 order-md-2 g-mb-30">
            <div class="g-pos-rel">
              <img class="img-fluid w-100" src="/public/images/img-temp/725x725/cayvannien.jpg" alt="Image Description">
              <span
                class="u-icon-v1 g-width-85 g-height-85 g-brd-3 g-brd-white g-color-white g-bg-primary g-font-weight-300 g-font-size-22 rounded-circle g-pos-abs g-top-100 g-left-0 g-brd-around">
                <i class="g-font-style-normal">600.000
                  <!-- <span class="g-font-size-16">.000</span> -->
                </i>
              </span>
            </div>
          </div>

          <div class="col-md-4 order-md-1 g-mb-30">
            <div class="g-mb-30">
              <h1 class="g-color-primary g-font-weight-400 g-font-size-40 mb-0">Cây Phong Thủy</h1>
              <h2 class="g-color-dark g-font-weight-300 g-font-size-65 g-line-height-1 mb-4">Cây Vạn Niên Thanh</h2>
              <p class="lead">Cây Vạn Niên Thanh thuộc loài cây cảnh mang tài lộc, may mắn và còn thanh lọc không khí.
              </p>
            </div>

            <a class="btn u-btn-primary g-font-size-12 text-uppercase g-py-12 g-px-25 g-mb-70" href="#">Cửa Hàng</a>

            <!-- Countdown -->
            <div class="text-uppercase">
              <div class="js-countdown u-countdown-v3 g-line-height-1_3 g-color-black" data-end-date="2019/08/20"
                data-month-format="%m" data-days-format="%D" data-hours-format="%H" data-minutes-format="%M"
                data-seconds-format="%S">
                <div class="d-inline-block text-center g-mx-15 mb-3">
                  <div class="js-cd-days g-color-lightred g-font-weight-500 g-font-size-15">12</div>
                  <span class="g-color-gray-dark-v4 g-font-size-11">Ngày</span>
                </div>

                <div class="hidden-down d-inline-block align-top g-font-size-15">:</div>

                <div class="d-inline-block text-center g-mx-15 mb-3">
                  <div class="js-cd-hours g-font-weight-500 g-font-size-15">01</div>
                  <span class="g-color-gray-dark-v4 g-font-size-11">Giờ</span>
                </div>

                <div class="hidden-down d-inline-block align-top g-font-size-15">:</div>

                <div class="d-inline-block text-center g-mx-15 mb-3">
                  <div class="js-cd-minutes g-font-weight-500 g-font-size-15">52</div>
                  <span class="g-color-gray-dark-v4 g-font-size-11">Phút</span>
                </div>

                <div class="hidden-down d-inline-block align-top g-font-size-15">:</div>

                <div class="d-inline-block text-center g-mx-15 mb-3">
                  <div class="js-cd-seconds g-font-weight-500 g-font-size-15">52</div>
                  <span class="g-color-gray-dark-v4 g-font-size-11">Giây</span>
                </div>
              </div>
            </div>
            <!-- End Countdown -->
          </div>
        </div>
      </div>
    </section>
    <!-- End Promo Block -->

    <!-- New Arrivals -->
    <section class="container g-py-100">
      <div class="text-center mx-auto g-max-width-600 g-mb-50">
        <h2 class="g-color-black mb-4">Các Sản Phẩm Mới</h2>
        <p class="lead">Chúng tôi muốn tạo ra nhiều cây trồng đẹp và chất lượng để làm cho ngôi nhà của các bạn trở nên
          gần gũi hơn với thiên nhiên hơn bao giờ hết.</p>
      </div>

      <div class="row g-mx-minus-10 g-mb-50">
        <div class="col-md-6 col-lg-4 g-px-10">
          <!-- Article -->
          <article class="media g-brd-around g-brd-gray-light-v4 g-bg-white rounded g-pa-10 g-mb-20">
            <!-- Article Image -->
            <div class="g-max-width-100 g-mr-15">
              <img class="d-flex w-100" src="/public/images/img-temp/150x150/product-1.jpg" alt="Image Description">
            </div>
            <!-- End Article Image -->

            <!-- Article Info -->
            <div class="media-body align-self-center">
              <h4 class="h5 g-mb-7">
                <a class="g-color-black g-color-primary--hover g-text-underline--none--hover" href="#">Rau Chân Vịt</a>
              </h4>
              <a class="d-inline-block g-color-gray-dark-v5 g-font-size-13 g-mb-10" href="#">Rau</a>
              <!-- End Article Info -->

              <!-- Article Footer -->
              <footer class="d-flex justify-content-between g-font-size-16">
                <span class="g-color-black g-line-height-1">$22.00</span>
                <ul class="list-inline g-color-gray-light-v2 g-font-size-14 g-line-height-1">
                  <li class="list-inline-item align-middle g-brd-right g-brd-gray-light-v3 g-pr-10 g-mr-6">
                    <a class="g-color-gray-dark-v5 g-color-primary--hover g-text-underline--none--hover" href="#"
                      title="Add to Cart" data-toggle="tooltip" data-placement="top">
                      <i class="icon-finance-100 u-line-icon-pro"></i>
                    </a>
                  </li>
                  <li class="list-inline-item align-middle">
                    <a class="g-color-gray-dark-v5 g-color-primary--hover g-text-underline--none--hover" href="#"
                      title="Add to Wishlist" data-toggle="tooltip" data-placement="top">
                      <i class="icon-medical-022 u-line-icon-pro"></i>
                    </a>
                  </li>
                </ul>
              </footer>
              <!-- End Article Footer -->
            </div>
          </article>
          <!-- End Article -->
        </div>

        <div class="col-md-6 col-lg-4 g-px-10">
          <!-- Article -->
          <article class="media g-brd-around g-brd-gray-light-v4 g-bg-white rounded g-pa-10 g-mb-20">
            <!-- Article Image -->
            <div class="g-max-width-100 g-mr-15">
              <img class="d-flex w-100" src="/public/images/img-temp/150x150/product-2.jpg" alt="Image Description">
            </div>
            <!-- End Article Image -->

            <!-- Article Info -->
            <div class="media-body align-self-center">
              <h4 class="h5 g-mb-7">
                <a class="g-color-black g-color-primary--hover g-text-underline--none--hover" href="#">Rau Xà Lách</a>
              </h4>
              <a class="d-inline-block g-color-gray-dark-v5 g-font-size-13 g-mb-10" href="#">Rau</a>
              <!-- End Article Info -->

              <!-- Article Footer -->
              <footer class="d-flex justify-content-between g-font-size-16">
                <span class="g-color-black g-line-height-1">$55.00</span>
                <ul class="list-inline g-color-gray-light-v2 g-font-size-14 g-line-height-1">
                  <li class="list-inline-item align-middle g-brd-right g-brd-gray-light-v3 g-pr-10 g-mr-6">
                    <a class="g-color-gray-dark-v5 g-color-primary--hover g-text-underline--none--hover" href="#"
                      title="Add to Cart" data-toggle="tooltip" data-placement="top">
                      <i class="icon-finance-100 u-line-icon-pro"></i>
                    </a>
                  </li>
                  <li class="list-inline-item align-middle">
                    <a class="g-color-gray-dark-v5 g-color-primary--hover g-text-underline--none--hover" href="#"
                      title="Add to Wishlist" data-toggle="tooltip" data-placement="top">
                      <i class="icon-medical-022 u-line-icon-pro"></i>
                    </a>
                  </li>
                </ul>
              </footer>
              <!-- End Article Footer -->
            </div>
          </article>
          <!-- End Article -->
        </div>

        <div class="col-md-6 col-lg-4 g-px-10">
          <!-- Article -->
          <article class="media g-brd-around g-brd-gray-light-v4 g-bg-white rounded g-pa-10 g-mb-20">
            <!-- Article Image -->
            <div class="g-max-width-100 g-mr-15">
              <img class="d-flex w-100" src="/public/images/img-temp/150x150/product-3.jpg" alt="Image Description">
            </div>
            <!-- End Article Image -->

            <!-- Article Info -->
            <div class="media-body align-self-center">
              <h4 class="h5 g-mb-7">
                <a class="g-color-black g-color-primary--hover g-text-underline--none--hover" href="#">Rau Chân Vịt
                  Dài</a>
              </h4>
              <a class="d-inline-block g-color-gray-dark-v5 g-font-size-13 g-mb-10" href="#">Rau</a>
              <!-- End Article Info -->

              <!-- Article Footer -->
              <footer class="d-flex justify-content-between g-font-size-16">
                <span class="g-color-black g-line-height-1">$55.00</span>
                <ul class="list-inline g-color-gray-light-v2 g-font-size-14 g-line-height-1">
                  <li class="list-inline-item align-middle g-brd-right g-brd-gray-light-v3 g-pr-10 g-mr-6">
                    <a class="g-color-gray-dark-v5 g-color-primary--hover g-text-underline--none--hover" href="#"
                      title="Add to Cart" data-toggle="tooltip" data-placement="top">
                      <i class="icon-finance-100 u-line-icon-pro"></i>
                    </a>
                  </li>
                  <li class="list-inline-item align-middle">
                    <a class="g-color-gray-dark-v5 g-color-primary--hover g-text-underline--none--hover" href="#"
                      title="Add to Wishlist" data-toggle="tooltip" data-placement="top">
                      <i class="icon-medical-022 u-line-icon-pro"></i>
                    </a>
                  </li>
                </ul>
              </footer>
              <!-- End Article Footer -->
            </div>
          </article>
          <!-- End Article -->
        </div>
      </div>

      <div class="text-center">
        <a class="btn u-btn-primary g-font-size-12 text-uppercase g-py-12 g-px-25" href="#">Xem Thêm</a>
      </div>
    </section>
    <!-- End New Arrivals -->

    <!-- Categories -->
    <div class="container-fluid px-0">
      <div class="row align-items-center no-gutters">
        <div class="col-md-8 col-lg-8 u-block-hover g-bg-size-cover g-min-height-500 g-flex-centered"
          data-bg-img-src="/public/images/img-temp/1200x800/collection.jpg">
          <div class="g-flex-centered-item text-right g-pa-50">
          </div>

          <a class="u-link-v2" href="#"></a>
        </div>

        <div class="col-md-4 col-lg-4 u-block-hover g-bg-size-cover g-min-height-500 g-flex-centered"
          data-bg-img-src="/public/images/img/bg/secondary.png">
          <div class="text-center">


            <h2 class="  u-link-v5 g-color-primary--hover g-font-weight-600">Về Chúng Tôi</h2>
            <p class="lead m-3">Chúng tôi muốn tạo ra nhiều cây trồng đẹp và chất lượng để làm cho ngôi nhà của các bạn
              trở nên
              gần gũi hơn với thiên nhiên hơn bao giờ hết.Chúng tôi muốn tạo ra nhiều cây trồng đẹp và chất lượng để làm
              cho ngôi nhà của các bạn trở nên
              gần gũi hơn với thiên nhiên hơn bao giờ hết</p>

          </div>

          <a class="u-link-v2" href="#"></a>
        </div>
      </div>
    </div>
    <!-- End Categories -->

    <!-- News -->
    <div class="container g-pt-100 g-pb-70">
      <div class="text-center mx-auto g-max-width-600 g-mb-50">
        <h2 class="g-color-black mb-4">Tin Tức</h2>
        <p class="lead">Cập Nhật Và Theo Dõi Những Tin Tức Mới Nhất.</p>
      </div>

      <div class="row g-mx-minus-10">
        <div class="col-sm-6 col-md-4 g-px-10 g-mb-30">
          <!-- Blog Background Overlay Blocks -->
          <article class="u-block-hover">
            <div class="g-bg-cover g-bg-white-gradient-opacity-v1--after">
              <img class="d-flex align-items-end u-block-hover__main--mover-down"
                src="/public/images/img-temp/650x650/new-1.jpg" alt="Image Description">
            </div>
            <div class="u-block-hover__additional--partially-slide-up text-center g-z-index-1 mt-auto">
              <div class="u-block-hover__visible g-pa-25">
                <span class="d-block g-color-white-opacity-0_7 g-font-size-13 mb-2">Trend</span>
                <h2 class="h4 g-color-white g-font-weight-400 mb-3">
                  <a class="u-link-v5 g-color-white g-color-primary--hover g-cursor-pointer" href="#">Xu Hướng Tạo Một
                    Vườn Cây Thông Minh Trong Nhà</a>
                </h2>
                <h4 class="d-inline-block g-color-white-opacity-0_7 g-font-size-11 mb-0">
                  By,
                  <a class="g-color-white-opacity-0_7 text-uppercase" href="#">Dan Shaw</a>
                </h4>
                <span class="g-color-white-opacity-0_7 g-pos-rel g-top-2 mx-2">&#183;</span>
                <span class="g-color-white-opacity-0_7 g-font-size-10 text-uppercase">May 31, 2017</span>
              </div>

              <a class="d-inline-block g-brd-bottom g-brd-white g-color-white g-font-weight-500 g-font-size-12 text-uppercase g-text-underline--none--hover g-mb-30"
                href="#">Read more</a>
            </div>
          </article>
          <!-- End Blog Background Overlay Blocks -->
        </div>

        <div class="col-sm-6 col-md-4 g-px-10 g-mb-30">
          <!-- Blog Background Overlay Blocks -->
          <article class="u-block-hover">
            <div class="g-bg-cover g-bg-white-gradient-opacity-v1--after">
              <img class="d-flex align-items-end u-block-hover__main--mover-down"
                src="/public/images/img-temp/650x650/new-2.jpg" alt="Image Description">
            </div>
            <div class="u-block-hover__additional--partially-slide-up text-center g-z-index-1 mt-auto">
              <div class="u-block-hover__visible g-pa-25">
                <span class="d-block g-color-white-opacity-0_7 g-font-size-13 mb-2">Help</span>
                <h2 class="h4 g-color-white g-font-weight-400 mb-3">
                  <a class="u-link-v5 g-color-white g-color-primary--hover g-cursor-pointer" href="#">Cách Nuôi Trồng
                    Cây Trong Nhà</a>
                </h2>
                <h4 class="d-inline-block g-color-white-opacity-0_7 g-font-size-11 mb-0">
                  By,
                  <a class="g-color-white-opacity-0_7 text-uppercase" href="#">Dan Shaw</a>
                </h4>
                <span class="g-color-white-opacity-0_7 g-pos-rel g-top-2 mx-2">&#183;</span>
                <span class="g-color-white-opacity-0_7 g-font-size-10 text-uppercase">May 31, 2017</span>
              </div>

              <a class="d-inline-block g-brd-bottom g-brd-white g-color-white g-font-weight-500 g-font-size-12 text-uppercase g-text-underline--none--hover g-mb-30"
                href="#">Read more</a>
            </div>
          </article>
          <!-- End Blog Background Overlay Blocks -->
        </div>

        <div class="col-sm-6 col-md-4 g-px-10 g-mb-30">
          <!-- Blog Background Overlay Blocks -->
          <article class="u-block-hover">
            <div class="g-bg-cover g-bg-white-gradient-opacity-v1--after">
              <img class="d-flex align-items-end u-block-hover__main--mover-down"
                src="/public/images/img-temp/650x650/new-3.jpg" alt="Image Description">
            </div>
            <div class="u-block-hover__additional--partially-slide-up text-center g-z-index-1 mt-auto">
              <div class="u-block-hover__visible g-pa-25">
                <span class="d-block g-color-white-opacity-0_7 g-font-size-13 mb-2">Family</span>
                <h2 class="h4 g-color-white g-font-weight-400 mb-3">
                  <a class="u-link-v5 g-color-white g-color-primary--hover g-cursor-pointer" href="#">Chiêm Ngưỡng Cách
                    Bố Trí Đẹp Mắt Của Một Vườn Thực Vật Trong Nhà</a>
                </h2>
                <h4 class="d-inline-block g-color-white-opacity-0_7 g-font-size-11 mb-0">
                  By,
                  <a class="g-color-white-opacity-0_7 text-uppercase" href="#">Dan Shaw</a>
                </h4>
                <span class="g-color-white-opacity-0_7 g-pos-rel g-top-2 mx-2">&#183;</span>
                <span class="g-color-white-opacity-0_7 g-font-size-10 text-uppercase">May 31, 2017</span>
              </div>

              <a class="d-inline-block g-brd-bottom g-brd-white g-color-white g-font-weight-500 g-font-size-12 text-uppercase g-text-underline--none--hover g-mb-30"
                href="#">Read more</a>
            </div>
          </article>
          <!-- End Blog Background Overlay Blocks -->
        </div>
      </div>
    </div>
    <!-- End News -->

    <!-- Footer -->
    <%- include('partials/footer'); %>
    <!-- End Footer -->

    <!-- Go To Top -->
    <a class="js-go-to u-go-to-v2" href="#" data-type="fixed" data-position='{
           "bottom": 15,
           "right": 15
         }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
      <i class="hs-icon hs-icon-arrow-top"></i>
    </a>
    <!-- End Go To Top -->

    <!-- Modal Window -->
    <div id="modal-type-onscroll" class="js-autonomous-popup text-left g-bg-white g-pos-rel g-rounded-5"
      style="display: none;" data-modal-type="onscroll" data-open-effect="fadeIn" data-close-effect="fadeIn"
      data-breakpoint="1000" data-speed="500">
      <button type="button"
        class="close g-color-main-light-v3 g-color-primary--hover g-font-size-13 g-pos-abs g-top-15 g-right-15 g-opacity-1"
        onclick="Custombox.modal.close();">
        <i class="hs-icon hs-icon-close"></i>
      </button>

      <!-- Modal Window - Content -->
      <div class="g-width-720">
        <div class="row align-items-center">
          <div class="col-sm-6 g-height-350--sm g-bg-size-cover g-bg-pos-top-center g-rounded-left-5"
            data-bg-img-src="/public/images/img-temp/300x300/img1.jpg"></div>

          <div class="col-sm-6">
            <div class="g-pl-30 g-pl-20--sm g-pr-30 g-py-20">
              <!-- Info -->
              <div class="g-mb-35">
                <h3 class="h1 g-color-primary">Subscribe</h3>
                <p class="g-font-weight-300 g-font-size-16">Get free promotions every month!</p>
              </div>
              <!-- End Info -->

              <!-- Subscribe Form -->
              <form class="input-group u-shadow-v19 rounded g-mb-20">
                <input
                  class="form-control g-brd-right-none g-brd-gray-light-v4 g-color-white g-bg-main-light-v3 g-rounded-left-5 g-px-20 g-py-8"
                  type="email" placeholder="Enter your email">
                <span
                  class="input-group-addon u-shadow-v19 g-brd-left-none g-brd-gray-light-v4 g-bg-main-light-v3 g-rounded-right-5 g-pa-5">
                  <button class="btn u-btn-primary rounded text-uppercase g-py-8 g-px-18" type="submit">
                    <i class="fa fa-angle-right"></i>
                  </button>
                </span>
              </form>
              <!-- End Subscribe Form -->

              <!-- Social Icons -->
              <ul class="list-inline mb-0">
                <li class="list-inline-item g-mx-0">
                  <a class="u-icon-v3 u-icon-size--xs g-color-main-light-v3 g-color-white--hover g-bg-white g-bg-primary--hover g-font-size-13 rounded"
                    href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item g-mx-0">
                  <a class="u-icon-v3 u-icon-size--xs g-color-main-light-v3 g-color-white--hover g-bg-white g-bg-primary--hover g-font-size-13 rounded"
                    href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item g-mx-0">
                  <a class="u-icon-v3 u-icon-size--xs g-color-main-light-v3 g-color-white--hover g-bg-white g-bg-primary--hover g-font-size-13 rounded"
                    href="#">
                    <i class="fa fa-instagram"></i>
                  </a>
                </li>
                <li class="list-inline-item g-mx-0">
                  <a class="u-icon-v3 u-icon-size--xs g-color-main-light-v3 g-color-white--hover g-bg-white g-bg-primary--hover g-font-size-13 rounded"
                    href="#">
                    <i class="fa fa-google-plus"></i>
                  </a>
                </li>
                <li class="list-inline-item g-mx-0">
                  <a class="u-icon-v3 u-icon-size--xs g-color-main-light-v3 g-color-white--hover g-bg-white g-bg-primary--hover g-font-size-13 rounded"
                    href="#">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
              <!-- End Social Icons -->
            </div>
          </div>
        </div>
      </div>
      <!-- End Modal Window - Content -->
    </div>
    <!-- End Modal Window -->
  </main>

  <div class="u-outer-spaces-helper"></div>

  <!-- JS Global Compulsory -->
  <script src="/public/vendor/jquery/jquery.min.js"></script>
  <script src="/public/vendor/jquery-migrate/jquery-migrate.min.js"></script>
  <script src="/public/vendor/popper.js/popper.min.js"></script>
  <script src="/public/vendor/bootstrap/bootstrap.min.js"></script>

  <!-- JS Implementing Plugins -->
  <script src="/public/vendor/jquery.countdown.min.js"></script>
  <script src="/public/vendor/slick-carousel/slick/slick.js"></script>
  <script src="/public/vendor/hs-megamenu/src/hs.megamenu.js"></script>
  <script src="/public/vendor/malihu-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
  <script src="/public/vendor/appear.js"></script>

  <!-- JS Revolution Slider -->
  <script src="/public/vendor/revolution-slider/revolution/js/jquery.themepunch.tools.min.js"></script>
  <script src="/public/vendor/revolution-slider/revolution/js/jquery.themepunch.revolution.min.js"></script>

  <script src="/public/vendor/revolution-slider/revolution-addons/typewriter/js/revolution.addon.typewriter.min.js"></script>

  <script src="/public/vendor/revolution-slider/revolution/js/extensions/revolution.extension.actions.min.js"></script>
  <script src="/public/vendor/revolution-slider/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
  <script src="/public/vendor/revolution-slider/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
  <script src="/public/vendor/revolution-slider/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
  <script src="/public/vendor/revolution-slider/revolution/js/extensions/revolution.extension.migration.min.js"></script>
  <script src="/public/vendor/revolution-slider/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
  <script src="/public/vendor/revolution-slider/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
  <script src="/public/vendor/revolution-slider/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
  <script src="/public/vendor/revolution-slider/revolution/js/extensions/revolution.extension.video.min.js"></script>

  <!-- JS Unify -->
  <script src="/public/js/hs.core.js"></script>
  <script src="/public/js/components/hs.header.js"></script>
  <script src="/public/js/helpers/hs.hamburgers.js"></script>
  <script src="/public/js/components/hs.dropdown.js"></script>
  <script src="/public/js/components/hs.scrollbar.js"></script>
  <script src="/public/js/components/hs.countdown.js"></script>
  <script src="/public/js/components/hs.carousel.js"></script>
  <script src="/public/js/components/hs.go-to.js"></script>
  <script src="/public/js/components/hs.count-qty.js"></script>

  <!-- JS Customization -->
  <script src="/public/js/custom.js"></script>

  <!-- JS Plugins Init. -->
  <script>
    $(document).on('ready', function () {
      // initialization of carousel
      $.HSCore.components.HSCarousel.init('[class*="js-carousel"]');

      $('#carouselCus1').slick('setOption', 'responsive', [{
        breakpoint: 1200,
        settings: {
          slidesToShow: 4
        }
      }, {
        breakpoint: 992,
        settings: {
          slidesToShow: 3
        }
      }, {
        breakpoint: 768,
        settings: {
          slidesToShow: 2
        }
      }], true);
    });

    // initialization of header
    $.HSCore.components.HSHeader.init($('#js-header'));
    $.HSCore.helpers.HSHamburgers.init('.hamburger');

    // initialization of HSMegaMenu component
    $('.js-mega-menu').HSMegaMenu({
      event: 'hover',
      pageContainer: $('.container'),
      breakpoint: 991
    });

    // initialization of HSDropdown component
    $.HSCore.components.HSDropdown.init($('[data-dropdown-target]'), {
      afterOpen: function () {
        $(this).find('input[type="search"]').focus();
      }
    });

    // initialization of go to
    $.HSCore.components.HSGoTo.init('.js-go-to');

    // initialization of countdowns
    var countdowns = $.HSCore.components.HSCountdown.init('.js-countdown', {
      yearsElSelector: '.js-cd-years',
      monthElSelector: '.js-cd-month',
      daysElSelector: '.js-cd-days',
      hoursElSelector: '.js-cd-hours',
      minutesElSelector: '.js-cd-minutes',
      secondsElSelector: '.js-cd-seconds'
    });

    // initialization of quantity counter
    $.HSCore.components.HSCountQty.init('.js-quantity');

    $(window).on('load', function () {
      // initialization of HSScrollBar component
      $.HSCore.components.HSScrollBar.init($('.js-scrollbar'));
    });

    // initialization of revolution slider
    var tpj = jQuery;

    var revapi1014;
    tpj(document).ready(function () {
      if (tpj("#rev_slider_1014_1").revolution == undefined) {
        revslider_showDoubleJqueryError("#rev_slider_1014_1");
      } else {
        revapi1014 = tpj("#rev_slider_1014_1").show().revolution({
          sliderType: "standard",
          jsFileLocation: "revolution/js/",
          sliderLayout: "fullscreen",
          dottedOverlay: "none",
          delay: 9000,
          navigation: {
            keyboardNavigation: "off",
            keyboard_direction: "horizontal",
            mouseScrollNavigation: "off",
            mouseScrollReverse: "default",
            onHoverStop: "off",
            touch: {
              touchenabled: "on",
              swipe_threshold: 75,
              swipe_min_touches: 1,
              swipe_direction: "horizontal",
              drag_block_vertical: false
            }
            ,
            arrows: {
              style: "uranus",
              enable: true,
              hide_onmobile: true,
              hide_under: 768,
              hide_onleave: false,
              tmp: '',
              left: {
                h_align: "left",
                v_align: "center",
                h_offset: 20,
                v_offset: 0
              },
              right: {
                h_align: "right",
                v_align: "center",
                h_offset: 20,
                v_offset: 0
              }
            }
          },
          parallax: {
            type: "mouse",
            origo: "slidercenter",
            speed: 2000,
            levels: [2, 3, 4, 5, 6, 7, 12, 16, 10, 50],
            disable_onmobile: "on"
          },
          responsiveLevels: [1240, 1024, 778, 480],
          visibilityLevels: [1240, 1024, 778, 480],
          gridwidth: [1240, 1024, 778, 480],
          gridheight: [868, 768, 960, 600],
          lazyType: "none",
          shadow: 0,
          spinner: "off",
          stopLoop: "on",
          stopAfterLoops: 0,
          stopAtSlide: 1,
          shuffle: "off",
          autoHeight: "off",
          fullScreenAutoWidth: "off",
          fullScreenAlignForce: "off",
          fullScreenOffsetContainer: "#js-header",
          fullScreenOffset: "",
          disableProgressBar: "on",
          hideThumbsOnMobile: "off",
          hideSliderAtLimit: 0,
          hideCaptionAtLimit: 0,
          hideAllCaptionAtLilmit: 0,
          debugMode: false,
          fallbacks: {
            simplifyAll: "off",
            nextSlideOnWindowFocus: "off",
            disableFocusListener: false
          }
        });
      }

      RsTypewriterAddOn(tpj, revapi1014);
    });
  </script>
</body>

</html>