<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Title -->
  <title>E-commerce Login Page | Unify - Responsive Website Template</title>

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- Favicon -->
  <link rel="shortcut icon" href="../favicon.ico">

  <!-- Google Fonts -->
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,900">

  <!-- CSS Global Compulsory -->
  <link rel="stylesheet" href="/public/vendor/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/public/vendor/icon-line/css/simple-line-icons.css">

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="/public/vendor/icon-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/public/vendor/icon-line-pro/style.css">
  <link rel="stylesheet" href="/public/vendor/icon-hs/style.css">
  <link rel="stylesheet" href="/public/vendor/animate.css">
  <link rel="stylesheet" href="/public/vendor/hamburgers/hamburgers.min.css">
  <link rel="stylesheet" href="/public/vendor/hs-megamenu/src/hs.megamenu.css">
  <link rel="stylesheet" href="/public/vendor/malihu-scrollbar/jquery.mCustomScrollbar.min.css">

  <!-- CSS Unify Theme -->
  <link rel="stylesheet" href="/public/stylesheets/css/styles.e-commerce.css">

  <!-- CSS Customization -->
  <link rel="stylesheet" href="/public/stylesheets/css/custom.css">
</head>

<body>
  <main>
    <!-- Header -->
    <%- include('partials/header'); %>
    <!-- End Header -->

    <!-- Breadcrumbs -->
    <section class="g-brd-bottom g-brd-gray-light-v4 g-py-30">
      <div class="container">
        <ul class="u-list-inline">
          <li class="list-inline-item g-mr-5">
            <a class="u-link-v5 g-color-text" href="#">Trang Chủ</a>
            <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
          </li>

          <li class="list-inline-item g-color-primary">
            <span>Đăng Nhập</span>
          </li>
        </ul>
      </div>
    </section>
    <!-- End Breadcrumbs -->

    <!-- Login -->
    <section class="container g-pt-100 g-pb-20">
      <div class="row justify-content-between">
        <div class="col-md-6 col-lg-5 order-lg-2 g-mb-80">
          <div class="g-brd-around g-brd-gray-light-v3 g-bg-white rounded g-px-30 g-py-50 mb-4">
            <header class="text-center mb-4">
              <h1 class="h4 g-color-black g-font-weight-400">Đăng Nhập Tài Khoản</h1>
            </header>

            <!-- Form -->
            <form class="g-py-15" action="/profile" method="POST">
              <div class="mb-4">
                <div class="input-group g-rounded-left-3">
                  <span class="input-group-prepend g-width-45">
                    <span
                      class="input-group-text justify-content-center w-100 g-bg-transparent g-brd-gray-light-v3 g-color-gray-dark-v5">
                      <i class="icon-finance-067 u-line-icon-pro"></i>
                    </span>
                  </span>
                  <input
                    class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 g-rounded-left-0 g-rounded-right-3 g-py-15 g-px-15"
                    type="text" placeholder="Tên Đăng Nhập" name="username">
                </div>
              </div>

              <div class="mb-4">
                <div class="input-group g-rounded-left-3 mb-4">
                  <span class="input-group-prepend g-width-45">
                    <span
                      class="input-group-text justify-content-center w-100 g-bg-transparent g-brd-gray-light-v3 g-color-gray-dark-v5">
                      <i class="icon-media-094 u-line-icon-pro"></i>
                    </span>
                  </span>
                  <input
                    class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 g-rounded-left-0 g-rounded-right-3 g-py-15 g-px-15"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                    title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                    minlength="9" type="password" name="password" placeholder="Mật Khẩu">
                </div>
              </div>

              <div class="row justify-content-between mb-5">
                <div class="col align-self-center">
                  <label class="form-check-inline u-check g-color-gray-dark-v5 g-font-size-13 g-pl-25 mb-0">
                    <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                    <span class="d-block u-check-icon-checkbox-v6 g-absolute-centered--y g-left-0">
                      <i class="fa" data-check-icon="&#xf00c"></i>
                    </span>
                    Giữ Đăng Nhập
                  </label>
                </div>
                <div class="col align-self-center text-right">
                  <a class="g-font-size-13" href="page-password-recovery-1.html">Quên Mật Khẩu?</a>
                </div>
              </div>

              <div class="mb-5">
                <button class="btn btn-block u-btn-primary g-font-size-12 text-uppercase g-py-12 g-px-25"
                  type="submit">Đăng Nhập</button>
              </div>

              <div class="d-flex justify-content-center text-center g-mb-30">
                <div class="d-inline-block align-self-center g-width-50 g-height-1 g-bg-gray-light-v1"></div>
                <span class="align-self-center g-color-gray-dark-v5 mx-4">OR</span>
                <div class="d-inline-block align-self-center g-width-50 g-height-1 g-bg-gray-light-v1"></div>
              </div>

              <div class="row no-gutters">
                <div class="col-6">
                  <button class="btn btn-block u-btn-facebook g-font-size-12 text-uppercase g-py-12 g-px-25 mr-2"
                    type="button">
                    <i class="mr-1 fa fa-facebook"></i>
                    Facebook
                  </button>
                </div>
                <div class="col-6">
                  <button class="btn btn-block u-btn-twitter g-font-size-12 text-uppercase g-py-12 g-px-25 ml-2"
                    type="button">
                    <i class="mr-1 fa fa-twitter"></i>
                    Twitter
                  </button>
                </div>
              </div>
            </form>
            <!-- End Form -->
          </div>

          <div class="text-center">
            <p class="g-color-gray-dark-v5 mb-0">Bạn Chưa Có Tài Khoản?
              <a class="g-font-weight-600" href="page-signup-1.html">Đăng Ký</a></p>
          </div>
        </div>

        <div class="col-md-6 order-lg-1 g-mb-80">
          <div class="mb-5">
            <h2 class="h1 g-font-weight-400 mb-3">Chào Mừng Bạn Đến Với Smart Living</h2>
            <p class="g-color-gray-dark-v4">Đã đến lúc biến những ý tưởng và kế hoạch đó thành hiện thực. Đến với chúng
              tôi để trải nghiệm những sản phẩm nông nghiệp chất lượng cao nhất</p>
          </div>

          <div class="row">
            <div class="col-lg-9">
              <!-- Icon Blocks -->
              <div class="media mb-5">
                <div class="d-flex mr-3">
                  <span class="align-self-center u-icon-v1 u-icon-size--lg g-color-primary">
                    <i class="icon-finance-168 u-line-icon-pro"></i>
                  </span>
                </div>
                <div class="media-body align-self-center">
                  <h3 class="h5 g-font-weight-400">Hợp Đồng Uy Tín</h3>
                  <p class="g-color-gray-dark-v5 mb-0">Reliable contracts, multifanctionality &amp; best usage of Unify
                    template</p>
                </div>
              </div>
              <!-- End Icon Blocks -->

              <!-- Icon Blocks -->
              <div class="media mb-5">
                <div class="d-flex mr-3">
                  <span class="align-self-center u-icon-v1 u-icon-size--lg g-color-primary">
                    <i class="icon-finance-193 u-line-icon-pro"></i>
                  </span>
                </div>
                <div class="media-body align-self-center">
                  <h3 class="h5 g-font-weight-400">Bảo Mật</h3>
                  <p class="g-color-gray-dark-v5 mb-0">Secure &amp; integrated options to create individual &amp;
                    business websites</p>
                </div>
              </div>
              <!-- End Icon Blocks -->

              <!-- Icon Blocks -->
              <div class="media">
                <div class="d-flex mr-3">
                  <span class="align-self-center u-icon-v1 u-icon-size--lg g-color-primary">
                    <i class="icon-finance-122 u-line-icon-pro"></i>
                  </span>
                </div>
                <div class="media-body align-self-center">
                  <h3 class="h5 g-font-weight-400">Chăm Sóc Khách Hàng</h3>
                  <p class="g-color-gray-dark-v5 mb-0">We get it, you're busy and it's important that someone keeps up
                    with marketing</p>
                </div>
              </div>
              <!-- End Icon Blocks -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Login -->

    <!-- Call to Action -->
    <div class="g-bg-primary">
      <div class="container g-py-20">
        <div class="row justify-content-center">
          <div class="col-md-4 mx-auto g-py-20">
            <!-- Media -->
            <div class="media g-px-50--lg">
              <i
                class="d-flex g-color-white g-font-size-40 g-pos-rel g-top-3 mr-4 icon-real-estate-048 u-line-icon-pro"></i>
              <div class="media-body">
                <span class="d-block g-color-white g-font-weight-500 g-font-size-17 text-uppercase">Miễn Phí Giao
                  Hàng</span>
                <span class="d-block g-color-white-opacity-0_8">Trong 2-3 ngày</span>
              </div>
            </div>
            <!-- End Media -->
          </div>

          <div class="col-md-4 mx-auto g-brd-x--md g-brd-white-opacity-0_3 g-py-20">
            <!-- Media -->
            <div class="media g-px-50--lg">
              <i
                class="d-flex g-color-white g-font-size-40 g-pos-rel g-top-3 mr-4 icon-real-estate-040 u-line-icon-pro"></i>
              <div class="media-body">
                <span class="d-block g-color-white g-font-weight-500 g-font-size-17 text-uppercase">Miễn Phí Đổi
                  Trả</span>
                <span class="d-block g-color-white-opacity-0_8">Không Đòi Hỏi</span>
              </div>
            </div>
            <!-- End Media -->
          </div>

          <div class="col-md-4 mx-auto g-py-20">
            <!-- Media -->
            <div class="media g-px-50--lg">
              <i
                class="d-flex g-color-white g-font-size-40 g-pos-rel g-top-3 mr-4 icon-hotel-restaurant-062 u-line-icon-pro"></i>
              <div class="media-body text-left">
                <span class="d-block g-color-white g-font-weight-500 g-font-size-17 text-uppercase">Miễn Phí 24</span>
                <span class="d-block g-color-white-opacity-0_8">Số Ngày Lưu Giữ Tại Kho</span>
              </div>
            </div>
            <!-- End Media -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Call to Action -->

    <!-- Footer -->
    <%- include('partials/footer'); %>
    <!-- End Footer -->

    <a class="js-go-to u-go-to-v2" href="#" data-type="fixed" data-position='{
           "bottom": 15,
           "right": 15
         }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
      <i class="hs-icon hs-icon-arrow-top"></i>
    </a>
  </main>

  <div class="u-outer-spaces-helper"></div>

  <!-- JS Global Compulsory -->
  <script src="/public/vendor/jquery/jquery.min.js"></script>
  <script src="/public/vendor/jquery-migrate/jquery-migrate.min.js"></script>
  <script src="/public/vendor/popper.js/popper.min.js"></script>
  <script src="/public/vendor/bootstrap/bootstrap.min.js"></script>

  <!-- JS Implementing Plugins -->
  <script src="/public/vendor/hs-megamenu/src/hs.megamenu.js"></script>
  <script src="/public/vendor/malihu-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>

  <!-- JS Unify -->
  <script src="/public/js/hs.core.js"></script>
  <script src="/public/js/components/hs.header.js"></script>
  <script src="/public/js/helpers/hs.hamburgers.js"></script>
  <script src="/public/js/components/hs.dropdown.js"></script>
  <script src="/public/js/components/hs.scrollbar.js"></script>
  <script src="/public/js/components/hs.go-to.js"></script>

  <!-- JS Customization -->
  <script src="/public/js/custom.js"></script>

  <!-- JS Plugins Init. -->
  <script>
    $(document).on('ready', function () {
      // initialization of header
      $.HSCore.components.HSHeader.init($('#js-header'));
      $.HSCore.helpers.HSHamburgers.init('.hamburger');

      // initialization of HSMegaMenu component
      $('.js-mega-menu').HSMegaMenu({
        event: 'hover',
        pageContainer: $('.container'),
        breakpoint: 991
      });

      // initialization of HSDropdown component
      $.HSCore.components.HSDropdown.init($('[data-dropdown-target]'), {
        afterOpen: function () {
          $(this).find('input[type="search"]').focus();
        }
      });

      // initialization of HSScrollBar component
      $.HSCore.components.HSScrollBar.init($('.js-scrollbar'));

      // initialization of go to
      $.HSCore.components.HSGoTo.init('.js-go-to');
    });
  </script>
</body>

</html>