<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Title -->
    <title>E-commerce List Filter No Sidebar Page 4 | Unify - Responsive Website Template</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Favicon -->
    <link rel="shortcut icon" href="../favicon.ico">

    <!-- Google Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,900">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="/public/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/public/vendor/icon-line/css/simple-line-icons.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/public/vendor/icon-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/vendor/icon-line-pro/style.css">
    <link rel="stylesheet" href="/public/vendor/icon-hs/style.css">
    <link rel="stylesheet" href="/public/vendor/dzsparallaxer/dzsparallaxer.css">
    <link rel="stylesheet" href="/public/vendor/dzsparallaxer/dzsscroller/scroller.css">
    <link rel="stylesheet" href="/public/vendor/dzsparallaxer/advancedscroller/plugin.css">
    <link rel="stylesheet" href="/public/vendor/animate.css">
    <link rel="stylesheet" href="/public/vendor/hamburgers/hamburgers.min.css">
    <link rel="stylesheet" href="/public/vendor/hs-megamenu/src/hs.megamenu.css">
    <link rel="stylesheet" href="/public/vendor/malihu-scrollbar/jquery.mCustomScrollbar.min.css">

    <!-- CSS Unify Theme -->
    <link rel="stylesheet" href="/public/stylesheets/css/styles.e-commerce.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="/public/stylesheets/css/custom.css">
  </head>

  <body>
    <main>
      <!-- Header -->
      <%- include('partials/header'); %>
      <!-- End Header -->

      <!-- Promo Block -->
      <section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall" data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
        <div class="divimage dzsparallaxer--target w-100 g-bg-pos-top-center g-bg-cover g-bg-black-opacity-0_1--after" style="height: 140%; background-image: url(/public/images/img-temp/1920x1080/background-2.jpg);"></div>

        <div class="container g-color-white g-pt-100 g-pb-40">
          <div class="g-mb-50">
            <span class="d-block g-color-white-opacity-0_8 g-font-weight-300 g-font-size-20">Best hand-made</span>
            <h3 class="g-color-white g-font-size-50 g-font-size-90--md g-line-height-1_2 mb-0">Innovative.</h3>
            <p class="g-color-white g-font-weight-600 g-font-size-20 text-uppercase">Trends 2018</p>
          </div>

          <div class="d-flex justify-content-end">
            <ul class="u-list-inline g-bg-gray-dark-v1 g-font-weight-300 g-rounded-50 g-py-5 g-px-20">
              <li class="list-inline-item g-mr-5">
                <a class="u-link-v5 g-color-white g-color-primary--hover" href="/">Trang Chủ</a>
                <i class="g-color-white-opacity-0_5 g-ml-5">/</i>
              </li>
              
              <li class="list-inline-item g-color-primary g-font-weight-400">
                <span>Sản Phẩm</span>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <!-- End Promo Block -->

      <!-- Filters -->
      <div class="container">
        <!-- Filters -->
        <div class="row align-items-center g-pt-40 g-pb-10">
          <!-- Category -->
          <div class="col-md-6 col-lg-4 g-mb-30">
            <h3 class="h6 mb-3">Đặc Trưng Theo Mùa:</h3>

            <div>
              <label class="form-check-inline u-check u-link-v5 g-color-gray-dark-v4 g-color-primary--hover g-pl-25 mb-0 mr-2">
                <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox" checked>
                <span class="d-block u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                  <i class="fa" data-check-icon="&#xf00c"></i>
                </span>
                Xuân
              </label>
              <label class="form-check-inline u-check u-link-v5 g-color-gray-dark-v4 g-color-primary--hover g-pl-25 mb-0 mx-2">
                <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                <span class="d-block u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                  <i class="fa" data-check-icon="&#xf00c"></i>
                </span>
                Hạ
              </label>
              <label class="form-check-inline u-check u-link-v5 g-color-gray-dark-v4 g-color-primary--hover g-pl-25 mb-0 mx-2">
                <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                <span class="d-block u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                  <i class="fa" data-check-icon="&#xf00c"></i>
                </span>
                Thu
              </label>
              <label class="form-check-inline u-check u-link-v5 g-color-gray-dark-v4 g-color-primary--hover g-pl-25 mb-0 mr-0">
                <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                <span class="d-block u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                  <i class="fa" data-check-icon="&#xf00c"></i>
                </span>
                Đông
              </label>
            </div>
          </div>
          <!-- End Category -->

          <!-- Brand -->
          <div class="col-md-5 col-lg-5 g-mb-30">
            <h3 class="h6 mb-3">Đặc Trưng Theo Vùng Miền:</h3>

            <div>
              <label class="form-check-inline u-check u-link-v5 g-color-gray-dark-v4 g-color-primary--hover g-pl-25 mb-0 mr-2">
                <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                <span class="d-block u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0" checked>
                  <i class="fa" data-check-icon="&#xf00c"></i>
                </span>
                Miền Bắc
              </label>
              <label class="form-check-inline u-check u-link-v5 g-color-gray-dark-v4 g-color-primary--hover g-pl-25 mb-0 mx-2">
                <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                <span class="d-block u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                  <i class="fa" data-check-icon="&#xf00c"></i>
                </span>
                Miền Trung
              </label>
              <label class="form-check-inline u-check u-link-v5 g-color-gray-dark-v4 g-color-primary--hover g-pl-25 mb-0 mx-2">
                <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                <span class="d-block u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                  <i class="fa" data-check-icon="&#xf00c"></i>
                </span>
                Miền Nam
              </label>
              <label class="form-check-inline u-check u-link-v5 g-color-gray-dark-v4 g-color-primary--hover g-pl-25 mb-0 mr-0">
                <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                <span class="d-block u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                  <i class="fa" data-check-icon="&#xf00c"></i>
                </span>
                Miền Tây
              </label>
            </div>
          </div>
          <!-- End Brand -->

          <!-- Size -->
          <div class="col-md-6 col-lg-3 g-mb-30">
            

            
              <h3 class="h6 mb-3">Giá:</h3>

              <div class="text-center">
                <span class="d-block g-color-primary mb-4">$(<span id="rangeSliderAmount3">180 - 320</span>)</span>
                <div id="rangeSlider1" class="u-slider-v1-3 ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content" data-result-container="rangeSliderAmount3" data-range="true" data-default="180, 320" data-min="0" data-max="500"><div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 36%; width: 28%;"></div><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 36%;"></span><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 64%;"></span></div>
              </div>
            
          </div>
          <!-- End Size -->
        </div>
        <!-- End Filters -->

        <!-- Filters -->
        <div class="g-brd-y g-brd-gray-light-v4 g-pt-40 g-pb-10">
          <div class="row align-items-center">
            <!-- Show -->
            <div class="col-sm-3 col-md-3 g-mb-30">
              <h2 class="h6 mb-3">Hiển Thị</h2>

              <!-- Secondary Button -->
              <div class="d-inline-block btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle h6 align-middle g-brd-none g-color-text g-color-primary--hover g-bg-transparent g-pa-0 g-ma-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Tất Cả
                </button>
                <div class="dropdown-menu rounded-0">
                  <a class="dropdown-item g-color-gray-dark-v4 g-font-weight-300" href="#">Tất Cả</a>
                  <a class="dropdown-item g-color-gray-dark-v4 g-font-weight-300" href="#">5</a>
                  <a class="dropdown-item g-color-gray-dark-v4 g-font-weight-300" href="#">15</a>
                  <a class="dropdown-item g-color-gray-dark-v4 g-font-weight-300" href="#">20</a>
                  <a class="dropdown-item g-color-gray-dark-v4 g-font-weight-300" href="#">25</a>
                </div>
              </div>
              <!-- End Secondary Button -->
            </div>
            <!-- End Show -->

            <!-- Sort By -->
            <div class="col-sm-3 col-md-3 g-mb-30">
              <h3 class="h6 mb-3">Sắp Xếp Theo:</h3>

              <!-- Secondary Button -->
              <div class="d-inline-block btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle h6 align-middle g-brd-none g-color-text g-color-primary--hover g-bg-transparent g-pa-0 g-ma-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Bán Chạy Nhất
                </button>
                <div class="dropdown-menu rounded-0">
                  <a class="dropdown-item g-color-gray-dark-v4 g-font-weight-300" href="#">Bán Chạy Nhất</a>
                  <a class="dropdown-item g-color-gray-dark-v4 g-font-weight-300" href="#">Xu Hướng Nhất</a>
                  <a class="dropdown-item g-color-gray-dark-v4 g-font-weight-300" href="#">Giá Từ Thấp Đến Cao</a>
                  <a class="dropdown-item g-color-gray-dark-v4 g-font-weight-300" href="#">Giá Từ Cao Đến Thấp</a>
                </div>
              </div>
              <!-- End Secondary Button -->
            </div>
            <!-- End Sort By -->

            <!-- Colors -->
            <!-- <div class="col-sm-6 col-md-4 col-lg-3 g-mb-30">
              
            </div> -->
            <!-- End Colors -->

            <!-- Rating -->
            <div class="col-sm-6 col-md-4 col-lg-3 g-mb-30">
              <h3 class="h6 mb-3">Đánh Giá:</h3>

              <ul class="js-rating u-rating-v1 g-line-height-1 g-font-size-20 g-color-gray-light-v3 mb-0" data-hover-classes="g-color-primary">
                <li class="g-color-primary click">
                  <i class="fa fa-star"></i>
                </li>
                <li class="g-color-primary click">
                  <i class="fa fa-star"></i>
                </li>
                <li class="g-color-primary click">
                  <i class="fa fa-star"></i>
                </li>
                <li class="g-color-primary click">
                  <i class="fa fa-star"></i>
                </li>
                <li>
                  <i class="fa fa-star"></i>
                </li>
              </ul>
            </div>
            <!-- End Rating -->

            <!-- Sort By -->
            <div class="col-sm-6 col-md-12 col-lg-2 text-right g-mb-30">
              <ul class="list-inline mb-0">
                <button class="btn btn-outline-success changelist_btn">
                <li class="list-inline-item">
                  <!-- <a class=" u-icon-v2 u-icon-size--xs g-brd-gray-light-v3 g-brd-black--hover g-color-gray-dark-v5 g-color-black--hover" href="page-list-filter-left-sidebar-1.html"> -->
                    <i class="icon-list"></i>
                  </a>
                </li>
              </button>
              <button class="btn btn-outline-success changegrid_btn">
                <li class=" change list-inline-item">
                  <!-- <a class="u-icon-v2 u-icon-size--xs g-brd-primary g-color-primary" href="page-grid-filter-left-sidebar-1.html"> -->
                    <i class="icon-grid"></i>
                  </a>
                </li>
              </button>
              </ul>
            </div>
            <!-- End Sort By -->
          </div>
        </div>
        <!-- End Filters -->
      </div>
      <!-- End Filters -->

      <!-- Products -->
      <div class="container">
        <div class="row justify-content-center ">
          <div class="col-lg-9 ">
            <% for(let i = 0 ; i< listItem.length; i++){ %>
            <!-- Products -->
            
                <div class="g-brd-bottom g-brd-gray-light-v4">
                  <div class="row g-pt-30">
                    <div class="col-6 col-sm-5 col-lg-4 g-mb-30">
                      <figure class="g-pos-rel">
                        <a href="<%= listItem[i].link %>">
                        <img class="img-fluid" src="<%= listItem[i].image %>" alt="Image Description">
                        </a>
                        <figcaption class="w-100 g-bg-primary g-bg-black--hover text-center g-pos-abs g-bottom-0 g-transition-0_2 g-py-5">
                          <a class="g-color-white g-font-size-11 text-uppercase g-letter-spacing-1 g-text-underline--none--hover" href="#">New Arrival</a>
                        </figcaption>
                      </figure>
                    </div>

                    <div class="col-6 col-sm-7 col-lg-8 g-mb-15">
                      <!-- Product Info -->
                      <div class="g-mb-30">
                        <h4 class="h5 g-color-black mb-0 mt-1">
                          <a class="u-link-v5 g-color-black g-color-primary--hover" href="#">
                            <%= listItem[i].name %>
                          </a>
                        </h4>
                        <!-- <a class="d-inline-block g-color-gray-dark-v5 g-font-size-13 mb-2" href="#">Man</a> -->
                        <span class="d-block g-color-black g-font-size-20 mb-4"><%= listItem[i].price %></span>
                        <p>Alongside our classic parka, we make modern clothing and outerwear that withstands the weather and the changes in fashion. We use only the best fabrics to keep you warm and dry, while the designs look good now and tomorrow. In essence, our coats are built to last.</p>
                      </div>
                      <!-- End Product Info -->

                      <!-- Products Icons -->
                      <ul class="list-inline g-mb-30">
                        <li class="list-inline-item align-middle g-brd-right g-brd-gray-light-v4 g-pr-20 g-mr-20">
                          <a class="d-inline-block g-color-gray-dark-v4 g-color-primary--hover g-text-underline--none--hover rounded-circle" href="#">
                            <i class="align-middle mr-1 icon-medical-022 u-line-icon-pro"></i>
                            Add to Wishlist
                          </a>
                        </li>
                        <li class="list-inline-item align-middle">
                          <a class="d-inline-block g-color-gray-dark-v4 g-color-primary--hover g-text-underline--none--hover rounded-circle" href="#">
                            <i class="align-middle mr-1 icon-finance-149 u-line-icon-pro"></i>
                            Add to Compare
                          </a>
                        </li>
                      </ul>
                      <!-- End Products Icons -->

                      <a class="btn u-btn-primary g-font-size-12 text-uppercase g-py-10 g-px-20" href="#">
                        Add to Cart
                        <i class="ml-2 icon-finance-100 u-line-icon-pro"></i>
                      </a>
                    </div>
                  </div>
                </div>
            <!-- End Products -->
            <% } %>

            

            <!-- Pagination -->
            <nav class="g-mb-100" aria-label="Page Navigation">
              <ul class="list-inline mb-0">
                <li class="list-inline-item hidden-down">
                  <a class="active u-pagination-v1__item g-width-30 g-height-30 g-brd-gray-light-v3 g-brd-primary--active g-color-white g-bg-primary--active g-font-size-12 rounded-circle g-pa-5" href="#">1</a>
                </li>
                <li class="list-inline-item hidden-down">
                  <a class="u-pagination-v1__item g-width-30 g-height-30 g-color-gray-dark-v5 g-color-primary--hover g-font-size-12 rounded-circle g-pa-5" href="#">2</a>
                </li>
                <li class="list-inline-item g-hidden-xs-down">
                  <a class="u-pagination-v1__item g-width-30 g-height-30 g-color-gray-dark-v5 g-color-primary--hover g-font-size-12 rounded-circle g-pa-5" href="#">3</a>
                </li>
                <li class="list-inline-item hidden-down">
                  <span class="g-width-30 g-height-30 g-color-gray-dark-v5 g-font-size-12 rounded-circle g-pa-5">...</span>
                </li>
                <li class="list-inline-item g-hidden-xs-down">
                  <a class="u-pagination-v1__item g-width-30 g-height-30 g-color-gray-dark-v5 g-color-primary--hover g-font-size-12 rounded-circle g-pa-5" href="#">15</a>
                </li>
                <li class="list-inline-item">
                  <a class="u-pagination-v1__item g-width-30 g-height-30 g-brd-gray-light-v3 g-brd-primary--hover g-color-gray-dark-v5 g-color-primary--hover g-font-size-12 rounded-circle g-pa-5 g-ml-15" href="#" aria-label="Next">
                    <span aria-hidden="true">
                      <i class="fa fa-angle-right"></i>
                    </span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
                <li class="list-inline-item float-right">
                  <span class="u-pagination-v1__item-info g-color-gray-dark-v4 g-font-size-12 g-pa-5">Page 1 of 15</span>
                </li>
              </ul>
            </nav>
            <!-- End Pagination -->
          </div>
        </div>
      </div>
      <!-- End Products -->

      <!-- Call to Action -->
      <div class="g-bg-primary">
        <div class="container g-py-20">
          <div class="row justify-content-center">
            <div class="col-md-4 mx-auto g-py-20">
              <!-- Media -->
              <div class="media g-px-50--lg">
                <i class="d-flex g-color-white g-font-size-40 g-pos-rel g-top-3 mr-4 icon-real-estate-048 u-line-icon-pro"></i>
                <div class="media-body">
                  <span class="d-block g-color-white g-font-weight-500 g-font-size-17 text-uppercase">Free Shipping</span>
                  <span class="d-block g-color-white-opacity-0_8">In 2-3 Days</span>
                </div>
              </div>
              <!-- End Media -->
            </div>

            <div class="col-md-4 mx-auto g-brd-x--md g-brd-white-opacity-0_3 g-py-20">
              <!-- Media -->
              <div class="media g-px-50--lg">
                <i class="d-flex g-color-white g-font-size-40 g-pos-rel g-top-3 mr-4 icon-real-estate-040 u-line-icon-pro"></i>
                <div class="media-body">
                  <span class="d-block g-color-white g-font-weight-500 g-font-size-17 text-uppercase">Free Returns</span>
                  <span class="d-block g-color-white-opacity-0_8">No Questions Asked</span>
                </div>
              </div>
              <!-- End Media -->
            </div>

            <div class="col-md-4 mx-auto g-py-20">
              <!-- Media -->
              <div class="media g-px-50--lg">
                <i class="d-flex g-color-white g-font-size-40 g-pos-rel g-top-3 mr-4 icon-hotel-restaurant-062 u-line-icon-pro"></i>
                <div class="media-body text-left">
                  <span class="d-block g-color-white g-font-weight-500 g-font-size-17 text-uppercase">Free 24</span>
                  <span class="d-block g-color-white-opacity-0_8">Days Storage</span>
                </div>
              </div>
              <!-- End Media -->
            </div>
          </div>
        </div>
      </div>
      <!-- End Call to Action -->

      <!-- Footer -->
      <%- include('partials/footer'); %>
      <!-- End Footer -->

      <a class="js-go-to u-go-to-v2" href="#"
         data-type="fixed"
         data-position='{
           "bottom": 15,
           "right": 15
         }'
         data-offset-top="400"
         data-compensation="#js-header"
         data-show-effect="zoomIn">
        <i class="hs-icon hs-icon-arrow-top"></i>
      </a>
    </main>

    <div class="u-outer-spaces-helper"></div>

    <!-- JS Global Compulsory -->
    <script src="/public/vendor/jquery/jquery.min.js"></script>
    <script src="/public/vendor/jquery-migrate/jquery-migrate.min.js"></script>
    <script src="/public/vendor/popper.js/popper.min.js"></script>
    <script src="/public/vendor/bootstrap/bootstrap.min.js"></script>

    <!-- JS Implementing Plugins -->
    <script src="/public/vendor/jquery-ui/ui/widget.js"></script>
    <script src="/public/vendor/jquery-ui/ui/widgets/menu.js"></script>
    <script src="/public/vendor/jquery-ui/ui/widgets/mouse.js"></script>
    <script src="/public/vendor/jquery-ui/ui/widgets/slider.js"></script>
    <script src="/public/vendor/dzsparallaxer/dzsparallaxer.js"></script>
    <script src="/public/vendor/dzsparallaxer/dzsscroller/scroller.js"></script>
    <script src="/public/vendor/dzsparallaxer/advancedscroller/plugin.js"></script>
    <script src="/public/vendor/hs-megamenu/src/hs.megamenu.js"></script>
    <script src="/public/vendor/malihu-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>

    <!-- JS Unify -->
    <script src="/public/js/hs.core.js"></script>
    <script src="/public/js/components/hs.header.js"></script>
    <script src="/public/js/helpers/hs.hamburgers.js"></script>
    <script src="/public/js/components/hs.dropdown.js"></script>
    <script src="/public/js/components/hs.scrollbar.js"></script>
    <script src="/public/js/helpers/hs.rating.js"></script>
    <script src="/public/js/components/hs.slider.js"></script>
    <script src="/public/js/components/hs.go-to.js"></script>

    <!-- JS Customization -->
    <script src="/public/js/custom.js"></script>
    <script src="/public/js/product.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- JS Plugins Init. -->
    <script>
    





      $(document).on('ready', function () {

        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');

        // initialization of HSMegaMenu component
        $('.js-mega-menu').HSMegaMenu({
          event: 'hover',
          pageContainer: $('.container'),
          breakpoint: 991
        });

        // initialization of HSDropdown component
        $.HSCore.components.HSDropdown.init($('[data-dropdown-target]'), {
          afterOpen: function () {
            $(this).find('input[type="search"]').focus();
          }
        });

        // initialization of HSScrollBar component
        $.HSCore.components.HSScrollBar.init($('.js-scrollbar'));

        // initialization of go to
        $.HSCore.components.HSGoTo.init('.js-go-to');

        // initialization of rating
        $.HSCore.helpers.HSRating.init();

        // initialization of range slider
        $.HSCore.components.HSSlider.init('#rangeSlider1');
      });
    </script>
  </body>
</html>
